flows/Create_Implant_Explant_Complaint_Relationships_Flow-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Has_Explanting_Physician</name>
        <label>Has Explanting Physician</label>
        <locationX>114</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>NoExplant</defaultConnectorLabel>
        <rules>
            <name>YesExplant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formExplantDrID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createExplantingDrComplaintRelationship</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Implanting_Physician</name>
        <label>Has Implanting Physician</label>
        <locationX>111</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>Has_Explanting_Physician</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesImplant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formImplantDrID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createImplantingDrComplaintRelationship</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>formExplantDrID</name>
        <dataType>String</dataType>
        <expression>{!varExplantingDrID}</expression>
    </formulas>
    <formulas>
        <name>formImplantDrID</name>
        <dataType>String</dataType>
        <expression>{!varImplantingDrID}</expression>
    </formulas>
    <interviewLabel>Create Implant/Explant Complaint Relationships Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Implant/Explant Complaint Relationships Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createExplantingDrComplaintRelationship</name>
        <label>createExplantingDrComplaintRelationship</label>
        <locationX>325</locationX>
        <locationY>224</locationY>
        <assignRecordIdToReference>varExplantingDrComplaintRelationshipID</assignRecordIdToReference>
        <inputAssignments>
            <field>complaint__c</field>
            <value>
                <elementReference>varComplaintID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contact__c</field>
            <value>
                <elementReference>varExplantingDrID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_of_contact__c</field>
            <value>
                <stringValue>Explanting Physician</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Relationships__c</object>
    </recordCreates>
    <recordCreates>
        <name>createImplantingDrComplaintRelationship</name>
        <label>createImplantingDrComplaintRelationship</label>
        <locationX>315</locationX>
        <locationY>69</locationY>
        <assignRecordIdToReference>varImplantingDrComplaintRelationshipID</assignRecordIdToReference>
        <connector>
            <targetReference>Has_Explanting_Physician</targetReference>
        </connector>
        <inputAssignments>
            <field>complaint__c</field>
            <value>
                <elementReference>varComplaintID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contact__c</field>
            <value>
                <elementReference>varImplantingDrID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_of_contact__c</field>
            <value>
                <stringValue>Implanting Physician</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Relationships__c</object>
    </recordCreates>
    <startElementReference>Has_Implanting_Physician</startElementReference>
    <variables>
        <name>varComplaintID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingDrComplaintRelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingDrID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varImplantingDrComplaintRelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varImplantingDrID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
