flows/Create_Programmer_Asset-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>decAssetExists</name>
        <label>decAssetExists</label>
        <locationX>64</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>lupServiceResource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Create Programmer Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Programmer Asset</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createAsset</name>
        <label>createAsset</label>
        <locationX>882</locationX>
        <locationY>368</locationY>
        <assignRecordIdToReference>varAssetID</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>varLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varBioAssetRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>varSerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UDI__c</field>
            <value>
                <elementReference>varUDI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_of_manufacture__c</field>
            <value>
                <elementReference>varDateOfManufacture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expiration_date_ubd__c</field>
            <value>
                <elementReference>varExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>last_movement_date__c</field>
            <value>
                <elementReference>varLastMovementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>manufacturer__c</field>
            <value>
                <elementReference>varManufacturer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>model_no__c</field>
            <value>
                <elementReference>varModelNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pid__c</field>
            <value>
                <elementReference>varPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>product_type__c</field>
            <value>
                <elementReference>varProductType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>quantity_unit_of_measure__c</field>
            <value>
                <elementReference>varQuantityUnitOfMeasure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sap_company_code__c</field>
            <value>
                <elementReference>varCompanyCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stock_type__c</field>
            <value>
                <elementReference>varStockType</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>lupAssociatedLocation</name>
        <label>lupAssociatedLocation</label>
        <locationX>567</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lupProduct</targetReference>
        </connector>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationID</elementReference>
            </value>
        </filters>
        <object>AssociatedLocation</object>
        <outputAssignments>
            <assignToReference>varAssociatedLocationID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>ParentRecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lupBioAssetRecordType</name>
        <label>lupBioAssetRecordType</label>
        <locationX>61</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lupProductItem</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US_BIOAsset</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varBioAssetRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lupEmployeeContact</name>
        <label>lupEmployeeContact</label>
        <locationX>407</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lupAssociatedLocation</targetReference>
        </connector>
        <filters>
            <field>related_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServiceResourceUserID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lupProduct</name>
        <label>lupProduct</label>
        <locationX>725</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createAsset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductID</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>varModelNumber</assignToReference>
            <field>sap_model_no__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lupProductItem</name>
        <label>lupProductItem</label>
        <locationX>62</locationX>
        <locationY>147</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lupProgrammerAsset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductItemID</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>varLocationID</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductID</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varName</assignToReference>
            <field>ProductName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSerialNumber</assignToReference>
            <field>SerialNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDateOfManufacture</assignToReference>
            <field>date_of_manufacture__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExpirationDate</assignToReference>
            <field>expiration_date_ubd__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastMovementDate</assignToReference>
            <field>last_movement_date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varManufacturer</assignToReference>
            <field>manufacturer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPID</assignToReference>
            <field>pid__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductType</assignToReference>
            <field>product_type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQuantityUnitOfMeasure</assignToReference>
            <field>quantity_unit_of_measure__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCompanyCode</assignToReference>
            <field>sap_company_code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStockType</assignToReference>
            <field>stocktype__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUDI</assignToReference>
            <field>udi__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lupProgrammerAsset</name>
        <label>lupProgrammerAsset</label>
        <locationX>62</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decAssetExists</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBioAssetRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSerialNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>product_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductType</elementReference>
            </value>
        </filters>
        <filters>
            <field>sap_company_code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCompanyCode</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>varAssetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lupServiceResource</name>
        <label>lupServiceResource</label>
        <locationX>245</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lupEmployeeContact</targetReference>
        </connector>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLocationID</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>varServiceResourceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varServiceResourceUserID</assignToReference>
            <field>RelatedRecordId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>lupBioAssetRecordType</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssociatedLocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBioAssetRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCompanyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDateOfManufacture</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastMovementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varManufacturer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varModelNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQuantityUnitOfMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varServiceResourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varServiceResourceUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStockType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUDI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
