flows/MDRF_Add_Products_FSL-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Asset_Existing_Set_Explant_Date</name>
        <label>Set Explant Date</label>
        <locationX>1559</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>AssetExplantDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductConsumedImplantDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OOS_Applicable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_Fields_Lead</name>
        <label>Asset Fields</label>
        <locationX>1558</locationX>
        <locationY>1686</locationY>
        <assignmentItems>
            <assignToReference>Asset.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Lead_Implant_Date_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Explant_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetExplantDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.SerialNumber</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Lead_Status_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Lead_Tip_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Lead_Tip_Location_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Lead_Manufacturer_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.model_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Lead_Model_Number_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Lead_Model_Name_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.product_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductItemProductType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.ous_asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OUS_Device_Asset_Lead_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Asset_OOS_Applicable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_Fields_Other</name>
        <label>Asset Fields</label>
        <locationX>1770</locationX>
        <locationY>1686</locationY>
        <assignmentItems>
            <assignToReference>Asset.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Other_Implant_Date_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Explant_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetExplantDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Other_SN_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Other_Status_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Other_Manufacturer_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.model_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Other_Model_Number_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitor_Asset_Other_Model_Name_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Lead_Tip_Location__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.product_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductItemProductType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.ous_asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OUS_Device_Other_asset_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Asset_OOS_Applicable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_Id</name>
        <label>Asset Id</label>
        <locationX>1123</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Asset.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>id_asset_create_app</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Details_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_Lead</name>
        <label>Asset = Lead</label>
        <locationX>1256</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>LeadTipLocationNA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Details_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_Lead_Set_Explant_Date</name>
        <label>Set Explant Date</label>
        <locationX>1419</locationX>
        <locationY>1581</locationY>
        <assignmentItems>
            <assignToReference>AssetExplantDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductConsumedImplantDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Fields_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_New_Lead_Set_Explant_Date</name>
        <label>Set Explant Date</label>
        <locationX>667</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>AssetExplantDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductConsumedImplantDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OOS_Applicable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_OOS</name>
        <label>Asset OOS</label>
        <locationX>1276</locationX>
        <locationY>1737</locationY>
        <assignmentItems>
            <assignToReference>Asset.oos_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Asset_OOS_Date_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.OOS_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Asset_OOS_Reason_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.oos_additional_information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Asset_OOS_Additional_Info_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_OOS_0</name>
        <label>Asset OOS</label>
        <locationX>1276</locationX>
        <locationY>1657</locationY>
        <assignmentItems>
            <assignToReference>Asset.oos_date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.OOS_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.oos_additional_information__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_Other_Set_Explant_Date</name>
        <label>Set Explant Date</label>
        <locationX>1916</locationX>
        <locationY>1684</locationY>
        <assignmentItems>
            <assignToReference>AssetExplantDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductConsumedImplantDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Fields_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Global_Parameters2</name>
        <label>Assign Global Parameters2</label>
        <locationX>302</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>glob_workorderlineitem_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InitWOLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Order_Line_Item_Retrieve</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Existing_Asset_OOS</name>
        <label>Asset OOS</label>
        <locationX>1044</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>Asset.oos_additional_information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Details_Existing_OOS_Additional_Info_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OOS_Reason_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Existing_Asset_OOS_Additional_Info</name>
        <label>OOS Description</label>
        <locationX>1092</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>Asset.oos_additional_information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset_Details_Existing_OOS_Additional_Info_required_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_start_from_FSL</name>
        <label>Initial - start from FSL</label>
        <locationX>24</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>startId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Started_on_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Start_From_Screen</name>
        <label>Initial - Start From Screen</label>
        <locationX>30</locationX>
        <locationY>15</locationY>
        <assignmentItems>
            <assignToReference>startId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Started_on_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Implant_Inputs</name>
        <label>Implant Inputs</label>
        <locationX>1773</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>Product_Consumption_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Consumption_Lead_Status_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pc_lead_tip_location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Consumption_Lead_Tip_Location_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Out_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Asset_OOS_Additional_Info</name>
        <label>OOS Description</label>
        <locationX>1115</locationX>
        <locationY>1788</locationY>
        <assignmentItems>
            <assignToReference>Asset.oos_additional_information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Asset_OOS_Additional_Info_required_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Competitor_Asset_Fields</name>
        <label>Asset Fields</label>
        <locationX>462</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>Asset.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Lead_Implant_Date_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Explant_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetExplantDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Lead_SN_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Lead_Status_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Lead_Tip_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Lead_Tip_Location_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Lead_Manufacturer_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.model_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Lead_Model_Number_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Lead_Model_Name_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.product_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_ProductType_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.ous_asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Lead_OUS_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Explanted_Asset_New_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Competitor_Asset_Other_Fields</name>
        <label>Asset Fields</label>
        <locationX>460</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>Asset.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Other_Implant_Date_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Explant_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetExplantDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Other_SN_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Other_Status_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Other_Manufacturer_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.model_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Other_Model_Number_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Other_Model_Name_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTipLocationNA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.product_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_ProductType_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.ous_asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Competitor_Asset_Other_OUS_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Explanted_Asset_New_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Implant_Inputs</name>
        <label>Implant Inputs</label>
        <locationX>1761</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>Product_Consumption_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Consumption_Other_Status_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pc_lead_tip_location</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Change_Out_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProductConsumed_OOS_Additional_Info</name>
        <label>OOS Description</label>
        <locationX>2206</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>ProductConsumed.oos_additional_information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductConsumed_OOS_Additional_Info_required_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Out_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProductConsumed_OOS_assign</name>
        <label>Product Consumed OOS</label>
        <locationX>2206</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>ProductConsumed.oos_additional_information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductConsumed_OOS_Additional_Info_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Out_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_ProductConsumed_Asset</name>
        <label>Reset PC / Asset</label>
        <locationX>1904</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>Asset.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTipLocationNA</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetExplantDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Consumption_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implanted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetUpdateOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restricted_Location</name>
        <label>Restricted Location</label>
        <locationX>1258</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>Location.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductItemLocationLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UBD_Expired_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Biotronik_Asset</name>
        <label>Set Biotronik Asset</label>
        <locationX>1563</locationX>
        <locationY>1105</locationY>
        <assignmentItems>
            <assignToReference>Asset.manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BIOTRONIK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetBiotronikRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.IsCompetitorProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Retrieve</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Biotronik_Asset_create</name>
        <label>Set Biotronik Asset</label>
        <locationX>657</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>Asset.manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BIOTRONIK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetBiotronikRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Device</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Change_Out</name>
        <label>Set Change Out</label>
        <locationX>492</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>ChangeOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identify_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Competitor_Asset</name>
        <label>Set Competitor Asset</label>
        <locationX>1912</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>Asset.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCompetitorRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.IsCompetitorProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Retrieve</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Competitor_Asset_create</name>
        <label>Set Competitor Asset</label>
        <locationX>102</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Asset.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCompetitorRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Device</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Implant_Date</name>
        <label>Set Implant Date</label>
        <locationX>953</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>ProductConsumedImplantDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Implant_Explant_Date_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Type</name>
        <label>Set Product Type</label>
        <locationX>1911</locationX>
        <locationY>1479</locationY>
        <assignmentItems>
            <assignToReference>ProductItemProductType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Asset_ProductType_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_New_Competitor_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UBD_Acknowledgment</name>
        <label>Set UBD Acknowledgment</label>
        <locationX>1484</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>ExpiredUBDAcknowledged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Type_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_global_parameter</name>
        <label>Store global parameter</label>
        <locationX>182</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>glob_workorderlineitem_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Order_Line_Item_Retrieve</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Only</name>
        <label>Update Only</label>
        <locationX>1767</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>AssetUpdateOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Asset_Biotronik</name>
        <choiceText>Add Biotronik Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Biotronik Asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Asset_Competitor</name>
        <choiceText>Add Competitor Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Competitor Asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Change_Product_Change</name>
        <choiceText>Change-out Existing for New Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change-Out</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Product_Biotronik</name>
        <choiceText>Biotronik</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biotronik</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Product_Competitor</name>
        <choiceText>Competitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Competitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asset_Manufacturer_default</name>
        <choiceText>{!Asset.manufacturer__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Asset.manufacturer__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>AssetLeadTipLocation_choice</name>
        <choiceText xsi:nil="true"/>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AssetManufacturer_choice</name>
        <choiceText>{!Asset.manufacturer__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Asset.manufacturer__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>AssetStatus_choice</name>
        <choiceText xsi:nil="true"/>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>blank_choice</name>
        <choiceText>{!blank}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>blank</elementReference>
        </value>
    </choices>
    <choices>
        <name>Consume_Product_Bio</name>
        <choiceText>Add New BIOTRONIK Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consume Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmptyString</name>
        <choiceText>-----</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-----</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finalize_Implant_Procedure</name>
        <choiceText>Finalize Implant Procedure</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Find_Change_Asset</name>
        <choiceText>Record Chronic Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add / Update Asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Identify_Product_Search_By_Barcode</name>
        <choiceText>Barcode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barcode</stringValue>
        </value>
    </choices>
    <choices>
        <name>Identify_Product_Search_By_Name</name>
        <choiceText>Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>Identify_Product_Search_By_SN</name>
        <choiceText>Serial Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Serial Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Biotronik_Asset_choice</name>
        <choiceText>New Biotronik Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Biotronik Asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Competitor_Asset_choice</name>
        <choiceText>New Competitor Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Competitor Asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Consumption_Add_More_no</name>
        <choiceText>Go back to implant procedure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Consumption_Add_More_yes</name>
        <choiceText>Add more products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Consumption_Additional_Details_no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Consumption_Additional_Details_yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Consumption_Status_default</name>
        <choiceText>{!Product_Consumption_Status}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Product_Consumption_Status</elementReference>
        </value>
    </choices>
    <constants>
        <name>WOLI_TRANSMITTED_STATUS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transmitted</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_More_decision</name>
        <label>Add More</label>
        <locationX>2051</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Product_Consumption_Add_More_yes_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Consumption_Add_More_yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_ProductConsumed_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Outcome_Finalize_Implant_Procedure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finalize_Implant_Procedure</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transmit_Work_Order_Line_Item</targetReference>
            </connector>
            <label>Finalize Implant Procedure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Type_decision</name>
        <label>Asset Type</label>
        <locationX>461</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Add_Competitor_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Asset_Competitor</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Competitor_Asset_create</targetReference>
            </connector>
            <label>Competitor</label>
        </rules>
        <rules>
            <name>Add_Biotronik_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Asset_Biotronik</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Biotronik_Asset_create</targetReference>
            </connector>
            <label>Biotronik</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Update_Only</name>
        <label>Asset Update Only</label>
        <locationX>1307</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Product_Consumed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetUpdateOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Update_Only_create</name>
        <label>Asset Update Only</label>
        <locationX>1912</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>Product_Type_New_Competitor_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetUpdateOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Device_create</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cannot_add_more_products_WorkOrder_is_already_transmitted</name>
        <label>Cannot add more products if WorkOrder is already transmitted</label>
        <locationX>479</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Work_Order_is_transmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WOLI_TRANSMITTED_STATUS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_add_products_the_Implante_Procedure_is_already_transmitted</targetReference>
            </connector>
            <label>Work Order is transmitted</label>
        </rules>
        <rules>
            <name>Work_Order_is_not_transmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>WOLI_TRANSMITTED_STATUS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Appointment_Retrieve</targetReference>
            </connector>
            <label>Work Order is not transmitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_New_Asset</name>
        <label>Change / New Asset</label>
        <locationX>667</locationX>
        <locationY>595</locationY>
        <defaultConnector>
            <targetReference>Asset_Type_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Change_Asset</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Change_Asset_Identify_Asset</targetReference>
            </connector>
            <label>Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Out_decision</name>
        <label>Change Out</label>
        <locationX>2053</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>Product_Consumed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Change_Out_yes_decisioin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeOut</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Competitor_Record_Type_Retrieve</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>1767</locationX>
        <locationY>1012</locationY>
        <defaultConnector>
            <targetReference>Asset_Retrieve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>New_Competitor_Asset_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Competitor_Asset_choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Competitor_Asset</targetReference>
            </connector>
            <label>Competitor</label>
        </rules>
        <rules>
            <name>New_Biotronik_Asset_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Biotronik_Asset_choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Biotronik_Asset</targetReference>
            </connector>
            <label>Biotronik</label>
        </rules>
    </decisions>
    <decisions>
        <name>Explanted_Asset_Existing</name>
        <label>Asset Explanted</label>
        <locationX>1568</locationX>
        <locationY>928</locationY>
        <defaultConnector>
            <targetReference>OOS_Applicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Explanted_Asset_Existing_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Details_Existing_Update_Status_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explanted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Existing_Set_Explant_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Explanted_Asset_Lead_Competitor</name>
        <label>Asset Explanted</label>
        <locationX>1560</locationX>
        <locationY>1482</locationY>
        <defaultConnector>
            <targetReference>Asset_Fields_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Explanted_Asset_Lead_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competitor_Asset_Lead_Status_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explanted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Lead_Set_Explant_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Explanted_Asset_New_Lead</name>
        <label>Asset Explanted</label>
        <locationX>660</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference>OOS_Applicable_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Explanted_Asset_New_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Competitor_Asset_Lead_Status_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explanted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_New_Lead_Set_Explant_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Explanted_Asset_New_Other</name>
        <label>Asset Explanted</label>
        <locationX>662</locationX>
        <locationY>1027</locationY>
        <defaultConnector>
            <targetReference>OOS_Applicable_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Explanted_Asset_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Competitor_Asset_Other_Status_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explanted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_New_Lead_Set_Explant_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Explanted_Asset_Other_Competitor</name>
        <label>Asset Explanted</label>
        <locationX>1770</locationX>
        <locationY>1580</locationY>
        <defaultConnector>
            <targetReference>Asset_Fields_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Explanted_Asset_Other_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competitor_Asset_Other_Status_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explanted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Other_Set_Explant_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Access</name>
        <label>Location Access</label>
        <locationX>1106</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>UBD_Expired_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Access</defaultConnectorLabel>
        <rules>
            <name>No_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Location_restriced</targetReference>
            </connector>
            <label>No Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Asset_OOS_Applicable</name>
        <label>OOS Applicable</label>
        <locationX>1419</locationX>
        <locationY>1688</locationY>
        <defaultConnector>
            <targetReference>Asset_OOS_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>New_Asset_OOS_yes</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explanted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Capped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AssetCompetitorRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_OOS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Asset_OOS_Reason_Other</name>
        <label>OOS Reason &apos;Other&apos;</label>
        <locationX>1259</locationX>
        <locationY>1860</locationY>
        <defaultConnector>
            <targetReference>Create_New_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>New_Asset_OOS_Reason_Other_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Asset_OOS_Reason_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Asset_OOS_Additional_Info_input</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>New_Asset_Details_OOS_Details_Missing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Competitor_Asset_Product_Type</name>
        <label>Product Type</label>
        <locationX>102</locationX>
        <locationY>897</locationY>
        <defaultConnector>
            <targetReference>New_Asset_Other_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>New_Competitor_Asset_Product_Type_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Competitor_Asset_ProductType_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Asset_Lead_create</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>OOS_Applicable</name>
        <label>OOS Applicable</label>
        <locationX>1410</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference>Update_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OOS_yes</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Details_Existing_Update_Status_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explanted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset_Details_Existing_Update_Status_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset_Details_Existing_Update_Status_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset_Details_Existing_Update_Status_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Capped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AssetCompetitorRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OOS_Applicable_0</name>
        <label>OOS Applicable</label>
        <locationX>842</locationX>
        <locationY>918</locationY>
        <defaultConnector>
            <targetReference>New_Competitor_Asset_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OOS_yes_0</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Asset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explanted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AssetCompetitorRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Details_Existing_OOS_create</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OOS_Applicable_ProductConsumed</name>
        <label>OOS Applicable</label>
        <locationX>1905</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>Change_Out_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OOS_ProductConsumed_yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Product_Consumption_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explanted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Consumption_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Consumption_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Consumption_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Capped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductConsumed_OOS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OOS_Reason_Other</name>
        <label>OOS Reason &apos;Other&apos;</label>
        <locationX>1042</locationX>
        <locationY>736</locationY>
        <defaultConnector>
            <targetReference>Update_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OOS_Reason_Other_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Details_Existing_OOS_Reason_Update_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Asset_Details_Existing_OOS_Additional_Info_input</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Asset_Details_OOS_Details_Missing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Type_decision</name>
        <label>Process Type</label>
        <locationX>102</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>Patient_Retrieve_New_Competitor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Change / New</defaultConnectorLabel>
        <rules>
            <name>Change_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Change_Product_Change</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Change_Out</targetReference>
            </connector>
            <label>Change-Out</label>
        </rules>
        <rules>
            <name>Biotronik</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consume_Product_Bio</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identify_Product</targetReference>
            </connector>
            <label>Biotronik (consume)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Type_decision</name>
        <label>Product Type</label>
        <locationX>1566</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>Product_Consumption_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Product_Type_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductItemProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Consumption_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Type_Existing_Asset_decision</name>
        <label>Product Type</label>
        <locationX>1257</locationX>
        <locationY>1380</locationY>
        <defaultConnector>
            <targetReference>Asset_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Product_Type_Lead_Existing_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductItemProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Details_Existing</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Type_New_Competitor_decision</name>
        <label>Product Type</label>
        <locationX>1769</locationX>
        <locationY>1380</locationY>
        <defaultConnector>
            <targetReference>Asset_Other_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Product_Type_Lead_Competitor_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductItemProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Lead_create</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductConsumed_OOS_Reason_Other</name>
        <label>OOS Reason &apos;Other&apos;</label>
        <locationX>2203</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>ProductConsumed_OOS_assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ProductConsumed_OOS_Reason_Other_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductConsumed_OOS_Reason_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductConsumed_OOS_Additional_Info_input</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ProductConsumed_OOS_Details_Missing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Product_By</name>
        <label>Search Product By</label>
        <locationX>435</locationX>
        <locationY>429</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Search_Product_By_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_Product_Search_By_Name</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identify_Product_By_Name</targetReference>
            </connector>
            <label>Name</label>
        </rules>
        <rules>
            <name>Search_Product_By_Barcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_Product_Search_By_Barcode</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identify_Product_By_Barcode</targetReference>
            </connector>
            <label>Barcode</label>
        </rules>
        <rules>
            <name>Search_Product_By_SN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Identify_Product_Search_By_SN</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identify_Product_By_SN</targetReference>
            </connector>
            <label>SN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Started_on_Work_Order</name>
        <label>Screen - Started on Work Order?</label>
        <locationX>273</locationX>
        <locationY>23</locationY>
        <defaultConnector>
            <targetReference>Store_global_parameter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>On_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>startId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOLI_Retrieve1</targetReference>
            </connector>
            <label>On WorkOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>UBD_Expired_decision</name>
        <label>UBD Expired</label>
        <locationX>1239</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Product_Type_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Expired</defaultConnectorLabel>
        <rules>
            <name>UBD_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductItemExpirationUBD</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_UBD_expired</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
    </decisions>
    <description>search product name with user inventory and accounts location</description>
    <dynamicChoiceSets>
        <name>Asset_Details_Existing_Update_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Asset_OOS_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OOS_Reason__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Asset_Patient_found</name>
        <dataType>String</dataType>
        <displayField>enhanced_label__c</displayField>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implanted</stringValue>
            </value>
        </filters>
        <filters>
            <field>patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.patient__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>product_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductItemProductType</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>id_asset_found</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>InstallDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Competitor_Asset_Lead_Tip_Location_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Tip_Location__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Competitor_Asset_Manufacturer_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>manufacturer__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Competitor_Asset_Status_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Find_Change_Asset_Patient_found</name>
        <dataType>String</dataType>
        <displayField>enhanced_label__c</displayField>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implanted</stringValue>
            </value>
        </filters>
        <filters>
            <field>patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.patient__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>id_asset_found</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>New_Asset_ProductType_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>competitor_product_type__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Consumption_LeadTipLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>lead_tip_location__c</picklistField>
        <picklistObject>ProductConsumed</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Consumption_Status_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>status__c</picklistField>
        <picklistObject>ProductConsumed</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductConsumed_OOS_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>oos_reason__c</picklistField>
        <picklistObject>ProductConsumed</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Products_found_barcode</name>
        <dataType>String</dataType>
        <displayField>enhanced_label__c</displayField>
        <filters>
            <field>QuantityOnHand</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>barcode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_By_Barcode_input</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>id_productitem_found</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemLocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemProductName</assignToReference>
            <field>ProductName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemSerialNumber</assignToReference>
            <field>SerialNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemBarcode</assignToReference>
            <field>barcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemBatchNumber</assignToReference>
            <field>batch_no__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemCMActive</assignToReference>
            <field>cm_active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProduktItemLabel</assignToReference>
            <field>enhanced_label__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemExpirationUBD</assignToReference>
            <field>expiration_date_ubd__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemLocationLabel</assignToReference>
            <field>location_label__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemManufacturer</assignToReference>
            <field>manufacturer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemProductType</assignToReference>
            <field>product_type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemStocktype</assignToReference>
            <field>stocktype__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemUDI</assignToReference>
            <field>udi__c</field>
        </outputAssignments>
        <sortField>expiration_date_ubd__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Products_found_name</name>
        <dataType>String</dataType>
        <displayField>enhanced_label__c</displayField>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssociatedLocation</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsersLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Product_By_Name_input</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityOnHand</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>id_productitem_found</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemLocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemProductName</assignToReference>
            <field>ProductName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemSerialNumber</assignToReference>
            <field>SerialNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemBarcode</assignToReference>
            <field>barcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemBatchNumber</assignToReference>
            <field>batch_no__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemCMActive</assignToReference>
            <field>cm_active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProduktItemLabel</assignToReference>
            <field>enhanced_label__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemExpirationUBD</assignToReference>
            <field>expiration_date_ubd__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemLocationLabel</assignToReference>
            <field>location_label__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemManufacturer</assignToReference>
            <field>manufacturer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemProductType</assignToReference>
            <field>product_type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemStocktype</assignToReference>
            <field>stocktype__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemUDI</assignToReference>
            <field>udi__c</field>
        </outputAssignments>
        <sortField>expiration_date_ubd__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Products_found_SN</name>
        <dataType>String</dataType>
        <displayField>enhanced_label__c</displayField>
        <filters>
            <field>QuantityOnHand</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_By_SN_input</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>id_productitem_found</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemLocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemProductName</assignToReference>
            <field>ProductName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemSerialNumber</assignToReference>
            <field>SerialNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemBarcode</assignToReference>
            <field>barcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemBatchNumber</assignToReference>
            <field>batch_no__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemCMActive</assignToReference>
            <field>cm_active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProduktItemLabel</assignToReference>
            <field>enhanced_label__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemExpirationUBD</assignToReference>
            <field>expiration_date_ubd__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemLocationLabel</assignToReference>
            <field>location_label__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemManufacturer</assignToReference>
            <field>manufacturer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemProductType</assignToReference>
            <field>product_type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemStocktype</assignToReference>
            <field>stocktype__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductItemUDI</assignToReference>
            <field>udi__c</field>
        </outputAssignments>
        <sortField>expiration_date_ubd__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>https://success.salesforce.com/ideaView?id=08730000000ipeQAAQ</description>
        <name>CurrentuserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>form_msg_cannot_add_products</name>
        <dataType>String</dataType>
        <expression>{!$Label.Cannot_add_more_products_WorkOrder_is_already_transmitted}</expression>
    </formulas>
    <interviewLabel>MDRF - Add Products FSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MDRF - Add Products FSL</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Asset</name>
        <label>Asset</label>
        <locationX>1113</locationX>
        <locationY>1687</locationY>
        <assignRecordIdToReference>id_asset_create_app</assignRecordIdToReference>
        <connector>
            <targetReference>New_Asset_retrieve</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>WorkOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explant_Date__c</field>
            <value>
                <elementReference>Asset.Explant_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>Asset.InstallDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCompetitorProduct</field>
            <value>
                <elementReference>Asset.IsCompetitorProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Tip_Location__c</field>
            <value>
                <elementReference>Asset.Lead_Tip_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Asset.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Asset.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>Asset.SerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Asset.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>explanting_facility__c</field>
            <value>
                <elementReference>WorkOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>explanting_physician__c</field>
            <value>
                <elementReference>WorkOrder.implanting_physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>manufacturer__c</field>
            <value>
                <elementReference>Asset.manufacturer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>model_no__c</field>
            <value>
                <elementReference>Asset.model_no__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_date__c</field>
            <value>
                <elementReference>Asset.oos_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ous_asset__c</field>
            <value>
                <elementReference>Asset.ous_asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>patient__c</field>
            <value>
                <elementReference>WorkOrder.patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>product_type__c</field>
            <value>
                <elementReference>Asset.product_type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>New_Competitor_Asset_Create</name>
        <label>Competitor Asset</label>
        <locationX>2079</locationX>
        <locationY>874</locationY>
        <assignRecordIdToReference>id_asset_create_app</assignRecordIdToReference>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>WorkOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explant_Date__c</field>
            <value>
                <elementReference>AssetExplantDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>Asset.InstallDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCompetitorProduct</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Tip_Location__c</field>
            <value>
                <elementReference>Asset.Lead_Tip_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Asset.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OOS_Reason__c</field>
            <value>
                <elementReference>Asset_Details_Create_OOS_Reason_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Asset.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>Asset.SerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Asset.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>explanting_facility__c</field>
            <value>
                <elementReference>WorkOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>explanting_physician__c</field>
            <value>
                <elementReference>WorkOrder.implanting_physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>manufacturer__c</field>
            <value>
                <elementReference>Asset.manufacturer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>model_no__c</field>
            <value>
                <elementReference>Asset.model_no__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_additional_information__c</field>
            <value>
                <elementReference>Asset_Details_Create_OOS_Additional_Info_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_date__c</field>
            <value>
                <elementReference>Asset_Details_Create_OOS_Date_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ous_asset__c</field>
            <value>
                <elementReference>Asset.ous_asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>patient__c</field>
            <value>
                <elementReference>WorkOrder.patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>product_type__c</field>
            <value>
                <elementReference>Asset.product_type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>Product_Consumed</name>
        <label>Product Consumed</label>
        <locationX>1773</locationX>
        <locationY>425</locationY>
        <assignRecordIdToReference>id_productconsumed_create_app</assignRecordIdToReference>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>ProductItemId</field>
            <value>
                <elementReference>id_productitem_found</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityConsumed</field>
            <value>
                <elementReference>Product_Consumption_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderLineItem.WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderLineItemId</field>
            <value>
                <elementReference>glob_workorderlineitem_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asset__c</field>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expired_ubd_acknowledged__c</field>
            <value>
                <elementReference>ExpiredUBDAcknowledged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>implant_date__c</field>
            <value>
                <elementReference>ProductConsumedImplantDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lead_tip_location__c</field>
            <value>
                <elementReference>pc_lead_tip_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_additional_information__c</field>
            <value>
                <elementReference>ProductConsumed.oos_additional_information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_date__c</field>
            <value>
                <elementReference>ProductConsumed_OOS_Date_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_reason__c</field>
            <value>
                <elementReference>ProductConsumed_OOS_Reason_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <elementReference>Product_Consumption_Status</elementReference>
            </value>
        </inputAssignments>
        <object>ProductConsumed</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Retrieve</name>
        <label>Account Retrieve</label>
        <locationX>1770</locationX>
        <locationY>1105</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patient_Retrieve</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Account_Retrieve_Existing_Asset</name>
        <label>Account Retrieve</label>
        <locationX>1412</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patient_Retrieve_Existing_Asset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Asset_Biotronik_Record_Type_Retrieve</name>
        <label>Biotronik Record Type Retrieve</label>
        <locationX>1908</locationX>
        <locationY>916</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Identify_Asset</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US_BIOAsset</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AssetBiotronikRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Asset_Competitor_Record_Type_Retrieve</name>
        <label>Competitor Record Type Retrieve</label>
        <locationX>1908</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Biotronik_Record_Type_Retrieve</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US_CompetitorAsset</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AssetCompetitorRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Asset_Retrieve</name>
        <label>Asset Retrieve</label>
        <locationX>1561</locationX>
        <locationY>1013</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Retrieve</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_asset_found</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Asset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
        <queriedFields>Lead_Tip_Location__c</queriedFields>
        <queriedFields>model_no__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>explanting_facility__c</queriedFields>
        <queriedFields>Explant_Date__c</queriedFields>
        <queriedFields>manufacturer__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>product_type__c</queriedFields>
        <queriedFields>implanting_physician__c</queriedFields>
        <queriedFields>patient__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ous_asset__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Location_Retrieve</name>
        <label>Location Retrieve</label>
        <locationX>967</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_Access</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductItemLocationId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>Location</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>LocationLevel</queriedFields>
        <queriedFields>LocationType</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>New_Asset_retrieve</name>
        <label>Asset Retrieve</label>
        <locationX>1112</locationX>
        <locationY>1585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_asset_create_app</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Asset</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>model_no__c</queriedFields>
        <queriedFields>manufacturer__c</queriedFields>
        <queriedFields>product_type__c</queriedFields>
        <queriedFields>Explant_Date__c</queriedFields>
        <queriedFields>explanting_facility__c</queriedFields>
        <queriedFields>explanting_physician__c</queriedFields>
        <queriedFields>Lead_Tip_Location__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ous_asset__c</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>New_Biotronik_Asset_Record_Type_Retrieve</name>
        <label>Biotronik Record Type Retrieve</label>
        <locationX>461</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_New_Asset</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US_BIOAsset</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AssetBiotronikRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>New_Competitor_Asset_Record_Type_Retrieve</name>
        <label>Competitor Record Type Retrieve</label>
        <locationX>283</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Biotronik_Asset_Record_Type_Retrieve</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US_CompetitorAsset</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AssetCompetitorRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Patient_Retrieve</name>
        <label>Patient Retrieve</label>
        <locationX>1769</locationX>
        <locationY>1195</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Physician_Retrieve</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.patient__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Patient</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Patient_Retrieve_Existing_Asset</name>
        <label>Patient Retrieve</label>
        <locationX>1413</locationX>
        <locationY>1197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Physician_Retrieve_Existing_Asset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.patient__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Patient</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Patient_Retrieve_New_Competitor</name>
        <label>Patient Retrieve</label>
        <locationX>101</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Competitor_Asset_Record_Type_Retrieve</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.patient__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Patient</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Physician_Retrieve</name>
        <label>Physician Retrieve</label>
        <locationX>1769</locationX>
        <locationY>1287</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Update_Only_create</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.implanting_physician__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Physician</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Physician_Retrieve_Existing_Asset</name>
        <label>Physician Retrieve</label>
        <locationX>1413</locationX>
        <locationY>1289</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Type_Existing_Asset_decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.implanting_physician__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Physician</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Product_Retrieve</name>
        <label>Product Retrieve</label>
        <locationX>1412</locationX>
        <locationY>1012</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Retrieve_Existing_Asset</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment_Retrieve</name>
        <label>Service Appointment Retrieve</label>
        <locationX>628</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Implant_Explant_Date</targetReference>
        </connector>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>glob_workorderlineitem_id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>scheduled_start_date_only__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Users_productitems_inventory</name>
        <label>Users productitems inventory</label>
        <locationX>877</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Product_by_Name</targetReference>
        </connector>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentuserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>UsersLocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>WOLI_Retrieve1</name>
        <label>WOLI Retrieve1</label>
        <locationX>506</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Global_Parameters2</targetReference>
        </connector>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>InitWOLI</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Work_Order_Line_Item_Retrieve</name>
        <label>Work Order Line Item Retrieve</label>
        <locationX>149</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Retrieve</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>glob_workorderlineitem_id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WorkOrderLineItem</outputReference>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Work_Order_Retrieve</name>
        <label>Work Order Retrieve</label>
        <locationX>282</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cannot_add_more_products_WorkOrder_is_already_transmitted</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderLineItem.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>patient__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>implanting_physician__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>workorder_account_first_location</name>
        <label>workorder account first location</label>
        <locationX>720</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Users_productitems_inventory</targetReference>
        </connector>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.AccountId</elementReference>
            </value>
        </filters>
        <object>AssociatedLocation</object>
        <outputAssignments>
            <assignToReference>AssociatedLocation</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Transmit_Work_Order_Line_Item</name>
        <label>Transmit Work Order Line Item</label>
        <locationX>2048</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>Finalize_Implant_Procedure_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_in_finalizing</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>glob_workorderlineitem_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>WOLI_TRANSMITTED_STATUS</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>1307</locationX>
        <locationY>701</locationY>
        <connector>
            <targetReference>Asset_Update_Only</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Explant_Date__c</field>
            <value>
                <elementReference>AssetExplantDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OOS_Reason__c</field>
            <value>
                <elementReference>Asset_Details_Existing_OOS_Reason_Update_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Asset_Details_Existing_Update_Status_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>explanting_facility__c</field>
            <value>
                <elementReference>WorkOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>explanting_physician__c</field>
            <value>
                <elementReference>WorkOrder.implanting_physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_date__c</field>
            <value>
                <elementReference>Asset_Details_Existing_OOS_Date_Update_input</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <screens>
        <name>Add_Device</name>
        <label>Add Device</label>
        <locationX>103</locationX>
        <locationY>808</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Competitor_Asset_Product_Type</targetReference>
        </connector>
        <fields>
            <name>New_Competitor_Asset_ProductType_input</name>
            <choiceReferences>New_Asset_ProductType_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Device_create</name>
        <label>Add Device</label>
        <locationX>1911</locationX>
        <locationY>1379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Product_Type</targetReference>
        </connector>
        <fields>
            <name>New_Asset_ProductType_input</name>
            <choiceReferences>New_Asset_ProductType_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_Device_blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Details_Existing</name>
        <label>Asset Details</label>
        <locationX>1257</locationX>
        <locationY>1013</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asset_Details_Existing_Update</targetReference>
        </connector>
        <fields>
            <name>Asset_Details_found</name>
            <fieldText>Model Name: {!Product.Name}
Model No.: {!Asset.model_no__c}
Manufacturer: {!Asset.manufacturer__c}
Type: {!Asset.product_type__c}
Serial Number: {!Asset.SerialNumber}

Patient: {!Patient.Name}
Implant Date: {!Asset.InstallDate}
Implanting Facility: {!Account.Name}
Implanting Physician: {!Physician.Name}

Lead Tip Location: {!Asset.Lead_Tip_Location__c}{!LeadTipLocationNA}
Status: {!Asset.Status}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Details_Existing_OOS_create</name>
        <label>OOS Details</label>
        <locationX>840</locationX>
        <locationY>1027</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Competitor_Asset_Details</targetReference>
        </connector>
        <fields>
            <name>Asset_Details_Create_OOS_Date_input</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ProductConsumedImplantDate</elementReference>
            </defaultValue>
            <fieldText>OOS Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Asset_Details_Create_OOS_Reason_input</name>
            <choiceReferences>Asset_OOS_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OOS Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Asset_Details_Create_OOS_Additional_Info_input</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Details_Existing_OOS_Update</name>
        <label>OOS Details</label>
        <locationX>1260</locationX>
        <locationY>810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Existing_Asset_OOS</targetReference>
        </connector>
        <fields>
            <name>Asset_Details_Existing_OOS_Date_Update_input</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ProductConsumedImplantDate</elementReference>
            </defaultValue>
            <fieldText>OOS Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Asset_Details_Existing_OOS_Reason_Update_input</name>
            <choiceReferences>Asset_OOS_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OOS Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Asset_Details_Existing_OOS_Additional_Info_input</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Details_Existing_Update</name>
        <label>Asset Details</label>
        <locationX>1258</locationX>
        <locationY>916</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Explanted_Asset_Existing</targetReference>
        </connector>
        <fields>
            <name>Asset_Details_Existing_Update_Status_input</name>
            <choiceReferences>Asset_Details_Existing_Update_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Details_New</name>
        <label>Asset Details</label>
        <locationX>1083</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asset_Update_Only</targetReference>
        </connector>
        <fields>
            <name>Asset_Details_found_New_Competitor</name>
            <fieldText>Status: {!Asset.Status}
Type: {!Asset.product_type__c}
Manufacturer: {!Asset.manufacturer__c}

Model Name: {!Asset.Name}
Model No.: {!Asset.model_no__c}
Serial Number: {!Asset.SerialNumber}

Explant Date: {!Asset.Explant_Date__c}
Explanting Facility: {!Account.Name}
Explanting Physician: {!Physician.Name}

Lead Tip Location: {!Asset.Lead_Tip_Location__c}{!LeadTipLocationNA}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Details_OOS_Details_Missing</name>
        <label>OOS Details Missing</label>
        <locationX>965</locationX>
        <locationY>645</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Existing_Asset_OOS_Additional_Info</targetReference>
        </connector>
        <fields>
            <name>Asset_Details_Existing_OOS_Additional_Info_required_input</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Lead_create</name>
        <label>Add Lead</label>
        <locationX>1560</locationX>
        <locationY>1380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Explanted_Asset_Lead_Competitor</targetReference>
        </connector>
        <fields>
            <name>Competitor_Asset_Lead_Head</name>
            <fieldText>Patient: {!Patient.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competitor_Asset_Lead_Implant_Date_input</name>
            <dataType>Date</dataType>
            <fieldText>Implant Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitor_Asset_Lead_SN_input</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitor_Asset_Lead_Model_Name_input</name>
            <dataType>String</dataType>
            <fieldText>Model Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please select Mantufacturer, Status and Lead Tip Location</errorMessage>
                <formulaExpression>AND (
    {!Competitor_Asset_Lead_Manufacturer_input} != {!EmptyString},
    {!Competitor_Asset_Lead_Status_input} != {!EmptyString},
    {!Competitor_Asset_Lead_Tip_Location_input} != {!EmptyString}
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Competitor_Asset_Lead_Model_Number_input</name>
            <dataType>String</dataType>
            <fieldText>Model No.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitor_Asset_Lead_Manufacturer_input</name>
            <choiceReferences>EmptyString</choiceReferences>
            <choiceReferences>Asset_Manufacturer_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Asset_Manufacturer_default</defaultSelectedChoiceReference>
            <fieldText>Manufacturer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitor_Asset_Lead_Status_input</name>
            <choiceReferences>EmptyString</choiceReferences>
            <choiceReferences>Competitor_Asset_Status_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitor_Asset_Lead_Tip_Location_input</name>
            <choiceReferences>EmptyString</choiceReferences>
            <choiceReferences>AssetLeadTipLocation_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EmptyString</defaultSelectedChoiceReference>
            <fieldText>Lead Tip Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OUS_Device_Asset_Lead_input</name>
            <dataType>Boolean</dataType>
            <fieldText>OUS Device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Other_create</name>
        <label>Add Device</label>
        <locationX>1770</locationX>
        <locationY>1480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Explanted_Asset_Other_Competitor</targetReference>
        </connector>
        <fields>
            <name>Competitor_Asset_Other_Head</name>
            <fieldText>Patient: {!Patient.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competitor_Asset_Other_Implant_Date_input</name>
            <dataType>Date</dataType>
            <fieldText>Implant Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitor_Asset_Other_SN_input</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitor_Asset_Other_Model_Name_input</name>
            <dataType>String</dataType>
            <fieldText>Model Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please select a Manufacturer and a Status</errorMessage>
                <formulaExpression>AND (
{!Competitor_Asset_Other_Manufacturer_input} != {!EmptyString},
{!Competitor_Asset_Other_Status_input} != {!EmptyString}
 )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Competitor_Asset_Other_Model_Number_input</name>
            <dataType>String</dataType>
            <fieldText>Model No.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitor_Asset_Other_Manufacturer_input</name>
            <choiceReferences>EmptyString</choiceReferences>
            <choiceReferences>Competitor_Asset_Manufacturer_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EmptyString</defaultSelectedChoiceReference>
            <fieldText>Manufacturer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Competitor_Asset_Other_Status_input</name>
            <choiceReferences>EmptyString</choiceReferences>
            <choiceReferences>Competitor_Asset_Status_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EmptyString</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OUS_Device_Other_asset_input</name>
            <dataType>Boolean</dataType>
            <fieldText>OUS Device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_add_products_the_Implante_Procedure_is_already_transmitted</name>
        <label>Cannot add products, the Implante Procedure is already transmitted.</label>
        <locationX>484</locationX>
        <locationY>121</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>out_cannot_add_products</name>
            <fieldText>This Implant Procedure has already been transmitted. You cannot add or change products here. Please go to the related Order.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Implant_Explant_Date</name>
        <label>Confirm Implant / Explant Date</label>
        <locationX>819</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Implant_Date</targetReference>
        </connector>
        <fields>
            <name>txt_confirm_date</name>
            <fieldText>Please confirm the date of the implant / explant. Usually this is the date of the service appointment, so we prefilled that for you. If you are recording information in advance or hindsight, please adjust the date here.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Implant_Explant_Date_input</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ProductConsumedImplantDate</elementReference>
            </defaultValue>
            <fieldText>Implant / Explant Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_in_finalizing</name>
        <label>Error in finalizing</label>
        <locationX>2250</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>out_err_finalizing</name>
            <fieldText>An error has occured while transmitting the Implant procedure:
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finalize_Implant_Procedure_screen</name>
        <label>Finalize Implant Procedure</label>
        <locationX>2261</locationX>
        <locationY>327</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalizeText</name>
            <fieldText>The implant procedure has been transmitted. 

Please close the flow and select &quot;Open order in Salesforce Mobile&quot; to proceed with pricing.

Do not choose &quot;Open in Salesforce1&quot;, this will bring you to the implant procedure line item in Salesforce mobile.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_Change_Asset_Identify_Asset</name>
        <label>Identify Asset</label>
        <locationX>1301</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Only</targetReference>
        </connector>
        <fields>
            <name>Find_Change_Asset_input</name>
            <choiceReferences>Find_Change_Asset_Patient_found</choiceReferences>
            <choiceReferences>New_Biotronik_Asset_choice</choiceReferences>
            <choiceReferences>New_Competitor_Asset_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Identify_Asset</name>
        <label>Identify Asset</label>
        <locationX>1909</locationX>
        <locationY>1010</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
        <fields>
            <name>Asset_Patient</name>
            <choiceReferences>Asset_Patient_found</choiceReferences>
            <choiceReferences>New_Biotronik_Asset_choice</choiceReferences>
            <choiceReferences>New_Competitor_Asset_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Identify_Product</name>
        <label>Identify Product</label>
        <locationX>462</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Product_By</targetReference>
        </connector>
        <fields>
            <name>Identify_Product_Search_By</name>
            <choiceReferences>Identify_Product_Search_By_Barcode</choiceReferences>
            <choiceReferences>Identify_Product_Search_By_SN</choiceReferences>
            <choiceReferences>Identify_Product_Search_By_Name</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Identify_Product_Search_By_Barcode</defaultSelectedChoiceReference>
            <fieldText>Search By:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Identify_Product_By_Barcode</name>
        <label>Identify Product</label>
        <locationX>650</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Product_by_Barcode</targetReference>
        </connector>
        <fields>
            <name>Product_By_Barcode_input</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Identify_Product_By_Name</name>
        <label>Identify Product</label>
        <locationX>696</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>workorder_account_first_location</targetReference>
        </connector>
        <fields>
            <name>Product_By_Name_input</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Identify_Product_By_SN</name>
        <label>Identify Product</label>
        <locationX>656</locationX>
        <locationY>505</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Product_by_SN</targetReference>
        </connector>
        <fields>
            <name>Product_By_SN_input</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Asset_Details_OOS</name>
        <label>OOS Details</label>
        <locationX>1421</locationX>
        <locationY>1895</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>New_Asset_OOS_Date_input</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ProductConsumedImplantDate</elementReference>
            </defaultValue>
            <fieldText>OOS Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Asset_OOS_Reason_input</name>
            <choiceReferences>Asset_OOS_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OOS Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Asset_OOS_Additional_Info_input</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Asset_Details_OOS_Details_Missing</name>
        <label>OOS Details Missing</label>
        <locationX>1116</locationX>
        <locationY>1892</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Asset_OOS_Additional_Info</targetReference>
        </connector>
        <fields>
            <name>New_Asset_OOS_Additional_Info_required_input</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Asset_Lead_create</name>
        <label>Add Lead</label>
        <locationX>284</locationX>
        <locationY>809</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Competitor_Asset_Fields</targetReference>
        </connector>
        <fields>
            <name>New_Competitor_Asset_Lead_Head</name>
            <fieldText>Patient: {!Patient.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Lead_Implant_Date_input</name>
            <dataType>Date</dataType>
            <fieldText>Implant Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Lead_SN_input</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Lead_Model_Name_input</name>
            <dataType>String</dataType>
            <fieldText>Model Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Lead_Model_Number_input</name>
            <dataType>String</dataType>
            <fieldText>Model No.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Lead_Manufacturer_input</name>
            <choiceReferences>Competitor_Asset_Manufacturer_choice</choiceReferences>
            <choiceReferences>Asset_Manufacturer_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Asset_Manufacturer_default</defaultSelectedChoiceReference>
            <fieldText>Manufacturer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Lead_Status_input</name>
            <choiceReferences>Competitor_Asset_Status_choice</choiceReferences>
            <choiceReferences>AssetStatus_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssetStatus_choice</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Lead_Tip_Location_input</name>
            <choiceReferences>Competitor_Asset_Lead_Tip_Location_choice</choiceReferences>
            <choiceReferences>AssetLeadTipLocation_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssetLeadTipLocation_choice</defaultSelectedChoiceReference>
            <fieldText>Lead Tip Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Lead_OUS_input</name>
            <dataType>Boolean</dataType>
            <fieldText>OUS Device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Asset_Other_create</name>
        <label>Add Competitor Device</label>
        <locationX>284</locationX>
        <locationY>1027</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Competitor_Asset_Other_Fields</targetReference>
        </connector>
        <fields>
            <name>New_Competitor_Asset_Other_Head</name>
            <fieldText>Patient: {!Patient.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Other_Implant_Date_input</name>
            <dataType>Date</dataType>
            <fieldText>Implant Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Other_SN_input</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Other_Model_Name_input</name>
            <dataType>String</dataType>
            <fieldText>Model Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Other_Model_Number_input</name>
            <dataType>String</dataType>
            <fieldText>Model No.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Other_Manufacturer_input</name>
            <choiceReferences>Competitor_Asset_Manufacturer_choice</choiceReferences>
            <choiceReferences>Asset_Manufacturer_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Asset_Manufacturer_default</defaultSelectedChoiceReference>
            <fieldText>Manufacturer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Other_Status_input</name>
            <choiceReferences>Competitor_Asset_Status_choice</choiceReferences>
            <choiceReferences>AssetStatus_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssetStatus_choice</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Competitor_Asset_Other_OUS_input</name>
            <dataType>Boolean</dataType>
            <fieldText>OUS Device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Competitor_Asset_Details</name>
        <label>Asset Details</label>
        <locationX>1021</locationX>
        <locationY>916</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Competitor_Asset_Create</targetReference>
        </connector>
        <fields>
            <name>New_Competitor_Asset_Details_found</name>
            <fieldText>Type: {!Asset.product_type__c}
Manufacturer: {!Asset.manufacturer__c}

Model Name: {!Asset.Name}
Model No.: {!Asset.model_no__c}
Serial Number: {!Asset.SerialNumber}

Lead Tip Location: {!Asset.Lead_Tip_Location__c}{!LeadTipLocationNA}
Status: {!Asset.Status}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Consumption_Lead</name>
        <label>Product Consumption</label>
        <locationX>1775</locationX>
        <locationY>810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lead_Implant_Inputs</targetReference>
        </connector>
        <fields>
            <name>Product_Consumption_Lead_Tip_Location_input</name>
            <choiceReferences>Product_Consumption_LeadTipLocation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Tip Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Consumption_Lead_Status_input</name>
            <choiceReferences>Product_Consumption_Status_choice</choiceReferences>
            <choiceReferences>Product_Consumption_Status_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Product_Consumption_Status_default</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Consumption_Other</name>
        <label>Product Consumption</label>
        <locationX>1762</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Implant_Inputs</targetReference>
        </connector>
        <fields>
            <name>Product_Consumption_Other_Status_input</name>
            <choiceReferences>Product_Consumption_Status_choice</choiceReferences>
            <choiceReferences>Product_Consumption_Status_default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Product_Consumption_Status_default</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProductConsumption_blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Details</name>
        <label>Product Details</label>
        <locationX>1557</locationX>
        <locationY>423</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Type_decision</targetReference>
        </connector>
        <fields>
            <name>Product_Details_found</name>
            <fieldText>Model Name: {!ProductItemProductName}
Manufacturer: {!ProductItemManufacturer}
Type: {!ProductItemProductType}
Stocktype: {!ProductItemStocktype}

Serial Number: {!ProductItemSerialNumber}
Batch Number: {!ProductItemBatchNumber}
Location: {!Location.Name}

Expiration UBD: {!ProductItemExpirationUBD}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Location_restriced</name>
        <label>Product Details</label>
        <locationX>1183</locationX>
        <locationY>523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Restricted_Location</targetReference>
        </connector>
        <fields>
            <name>Product_Location_restricted</name>
            <fieldText>Please note that this product is in a location which is not assigned to you.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_UBD_expired</name>
        <label>WARNING</label>
        <locationX>1399</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_UBD_Acknowledgment</targetReference>
        </connector>
        <fields>
            <name>Product_UBD_expired_warning</name>
            <fieldText>The selected product is past its use by date. If you wish to continue, click &apos;Next Step&apos; to acknowledge.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductConsumed_OOS</name>
        <label>OOS Details</label>
        <locationX>2051</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProductConsumed_OOS_Reason_Other</targetReference>
        </connector>
        <fields>
            <name>ProductConsumed_OOS_Date_input</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ProductConsumedImplantDate</elementReference>
            </defaultValue>
            <fieldText>OOS Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProductConsumed_OOS_Reason_input</name>
            <choiceReferences>ProductConsumed_OOS_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OOS Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ProductConsumed_OOS_Additional_Info_input</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductConsumed_OOS_Details_Missing</name>
        <label>OOS Details Missing</label>
        <locationX>2349</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProductConsumed_OOS_Additional_Info</targetReference>
        </connector>
        <fields>
            <name>ProductConsumed_OOS_Additional_Info_required_input</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Process</name>
        <label>Select Process</label>
        <locationX>102</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_Type_decision</targetReference>
        </connector>
        <fields>
            <name>Select_Process_input</name>
            <choiceReferences>Consume_Product_Bio</choiceReferences>
            <choiceReferences>Find_Change_Asset</choiceReferences>
            <choiceReferences>Add_Change_Product_Change</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Consume_Product_Bio</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_by_Barcode</name>
        <label>Select Product</label>
        <locationX>812</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Location_Retrieve</targetReference>
        </connector>
        <fields>
            <name>Product_by_Barcode_select</name>
            <choiceReferences>Products_found_barcode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_by_Name</name>
        <label>Select Product</label>
        <locationX>1043</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Location_Retrieve</targetReference>
        </connector>
        <fields>
            <name>Product_by_Name_select</name>
            <choiceReferences>Products_found_name</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AssociatedLocationdebug</name>
            <fieldText>{!AssociatedLocation}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UsersLocationIddebug</name>
            <fieldText>{!UsersLocationId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>userid2</name>
            <fieldText>{!UserId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_by_SN</name>
        <label>Select Product</label>
        <locationX>812</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Location_Retrieve</targetReference>
        </connector>
        <fields>
            <name>Product_by_SN_select</name>
            <choiceReferences>Products_found_SN</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Successfully Applied!</label>
        <locationX>2050</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_More_decision</targetReference>
        </connector>
        <fields>
            <name>Add_More</name>
            <choiceReferences>Product_Consumption_Add_More_yes</choiceReferences>
            <choiceReferences>Product_Consumption_Add_More_no</choiceReferences>
            <choiceReferences>Finalize_Implant_Procedure</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Product_Consumption_Add_More_yes</defaultSelectedChoiceReference>
            <fieldText>What to do next?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dbg_out_Applied</name>
            <fieldText>{!Asset_Details_Existing_Update_Status_input}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Initial_start_from_FSL</startElementReference>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetBiotronikRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetCompetitorRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetExplantDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetUpdateOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>first location associated to the account of the workorder</description>
        <name>AssociatedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>blank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ChangeOut</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExpiredUBDAcknowledged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>glob_workorderlineitem_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_asset_create_app</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_asset_found</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_productconsumed_create_app</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_productitem_found</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>LeadTipLocationNA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>msg_cannot_add_products</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>pc_lead_tip_location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Product_Consumption_Lead_Tip_Location_input</elementReference>
        </value>
    </variables>
    <variables>
        <name>Physician</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product_Consumption_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Product_Consumption_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Implanted</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProductConsumed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>ProductConsumedImplantDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>ServiceAppointment.scheduled_start_date_only__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ProductItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>ProductItemBarcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemBatchNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemCMActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemExpirationUBD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemLocationLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemManufacturer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemSAPPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProductItemSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemStocktype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductItemUDI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProduktItemLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>startId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LocationId from the service ressource of the user</description>
        <name>UsersLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
