flows/New_Returned_Product_Complaint_Case-34.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Alabama</name>
        <choiceText>Alabama</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alaska</name>
        <choiceText>Alaska</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arizona</name>
        <choiceText>Arizona</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AZ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arkansas</name>
        <choiceText>Arkansas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR</stringValue>
        </value>
    </choices>
    <choices>
        <name>California</name>
        <choiceText>California</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceERI</name>
        <choiceText>ERI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ERI</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePatient_Anatomy</name>
        <choiceText>Patient Anatomy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient Anatomy</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePatient_Death</name>
        <choiceText>Patient Death</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient Death</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUpgrade</name>
        <choiceText>Upgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upgrade</stringValue>
        </value>
    </choices>
    <choices>
        <name>Colorado</name>
        <choiceText>Colorado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Connecticut</name>
        <choiceText>Connecticut</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_clinic_Account_for_return_product_sender</name>
        <choiceText>Create new Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_New_Explant_Physician_Record</name>
        <choiceText>Create a New Physician Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_ret_prod_Contact</name>
        <choiceText>Create new Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_New_Ret_Prod_Sender_Account</name>
        <choiceText>Create New Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delaware</name>
        <choiceText>Delaware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DE</stringValue>
        </value>
    </choices>
    <choices>
        <name>District_of_Columbia</name>
        <choiceText>District of Columbia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Explanting_Facility_Skip_this_step</name>
        <choiceText>Explanting Facility is not listed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <choices>
        <name>Explanting_Physician_Skip_this_step</name>
        <choiceText>I don&apos;t know the Explanting Physician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <choices>
        <name>Florida</name>
        <choiceText>Florida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Georgia</name>
        <choiceText>Georgia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hawaii</name>
        <choiceText>Hawaii</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Idaho</name>
        <choiceText>Idaho</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ID</stringValue>
        </value>
    </choices>
    <choices>
        <name>Illinois</name>
        <choiceText>Illinois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indiana</name>
        <choiceText>Indiana</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Iowa</name>
        <choiceText>Iowa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kansas</name>
        <choiceText>Kansas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>KS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kentucky</name>
        <choiceText>Kentucky</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>KY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Louisiana</name>
        <choiceText>Louisiana</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maine</name>
        <choiceText>Maine</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ME</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maryland</name>
        <choiceText>Maryland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Massachusetts</name>
        <choiceText>Massachusetts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Michigan</name>
        <choiceText>Michigan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Minnesota</name>
        <choiceText>Minnesota</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mississippi</name>
        <choiceText>Mississippi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Missouri</name>
        <choiceText>Missouri</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Montana</name>
        <choiceText>Montana</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nebraska</name>
        <choiceText>Nebraska</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nevada</name>
        <choiceText>Nevada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NV</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Hampshire</name>
        <choiceText>New Hampshire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NH</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Jersey</name>
        <choiceText>New Jersey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NJ</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Mexico</name>
        <choiceText>New Mexico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NM</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_York</name>
        <choiceText>New York</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NY</stringValue>
        </value>
    </choices>
    <choices>
        <name>North_Carolina</name>
        <choiceText>North Carolina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NC</stringValue>
        </value>
    </choices>
    <choices>
        <name>North_Dakota</name>
        <choiceText>North Dakota</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ND</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ohio</name>
        <choiceText>Ohio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oklahoma</name>
        <choiceText>Oklahoma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oregon</name>
        <choiceText>Oregon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pennsylvania</name>
        <choiceText>Pennsylvania</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ret_Prod_Sender_Skip_this_step</name>
        <choiceText>I don&apos;t know who returned the product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rhode_Island</name>
        <choiceText>Rhode Island</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RI</stringValue>
        </value>
    </choices>
    <choices>
        <name>South_Carolina</name>
        <choiceText>South Carolina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SC</stringValue>
        </value>
    </choices>
    <choices>
        <name>South_Dakota</name>
        <choiceText>South Dakota</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tennessee</name>
        <choiceText>Tennessee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Texas</name>
        <choiceText>Texas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TX</stringValue>
        </value>
    </choices>
    <choices>
        <name>Utah</name>
        <choiceText>Utah</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vermont</name>
        <choiceText>Vermont</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Virginia</name>
        <choiceText>Virginia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Washington</name>
        <choiceText>Washington</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WA</stringValue>
        </value>
    </choices>
    <choices>
        <name>West_Virginia</name>
        <choiceText>West Virginia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wisconsin</name>
        <choiceText>Wisconsin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wyoming</name>
        <choiceText>Wyoming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WY</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decCreateNewRetProdSenderAccount</name>
        <label>decCreateNewRetProdSenderAccount</label>
        <locationX>88</locationX>
        <locationY>962</locationY>
        <defaultConnector>
            <targetReference>createRetProdSenderAccountComplaintRelationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreateNewRetProdSenderAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ret_Prod_Sender_Account_Matching_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Ret_Prod_Sender_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Clinic_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCreateNewRetProdSenderClinicAccount</name>
        <label>decCreateNewRetProdSenderClinicAccount</label>
        <locationX>1205</locationX>
        <locationY>1077</locationY>
        <defaultConnector>
            <targetReference>createRetProdSenderContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreateNewRetProdSenderClinicAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ret_Prod_Sender_Clinic_Matching_Hospitals_Clinics</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_new_clinic_Account_for_return_product_sender</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Return_Product_Sender_Clinic_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decExplantFacilityKnown</name>
        <label>decExplantFacilityKnown</label>
        <locationX>763</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>updAsset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesExplantFacilityKnown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExplantingFacilityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createExplantPhysicianAcctContRelationship</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decExplantPhysicianResults</name>
        <label>decExplantPhysicianResults</label>
        <locationX>897</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>updAsset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Explant Physician Selected</defaultConnectorLabel>
        <rules>
            <name>Create_New_Explant_Physician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Explanting_Physician_Matching_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Explant_Physician_Record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreate_New_Explanting_Physician</targetReference>
            </connector>
            <label>Create New Explant Physician</label>
        </rules>
        <rules>
            <name>Explant_Phys_Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Explanting_Physician_Matching_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Explanting_Physician_Skip_this_step</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updAsset</targetReference>
            </connector>
            <label>Explant Phys Unknown</label>
        </rules>
    </decisions>
    <decisions>
        <name>decHasExplantFacility</name>
        <label>decHasExplantFacility</label>
        <locationX>363</locationX>
        <locationY>25</locationY>
        <defaultConnector>
            <targetReference>screenExplanting_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasExplantFacility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExplantingFacilityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decHasExplantPhysician</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decHasExplantPhysician</name>
        <label>decHasExplantPhysician</label>
        <locationX>360</locationX>
        <locationY>175</locationY>
        <defaultConnector>
            <targetReference>screenExplanting_Physician</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasExplantPhysician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExplantingPhysicianID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updAsset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decRetProdSenderContactResult</name>
        <label>decRetProdSenderContactResult</label>
        <locationX>741</locationX>
        <locationY>871</locationY>
        <defaultConnector>
            <targetReference>createRetProdSenderComplaintRelationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Ret Prod Sender Complaint Relationship</defaultConnectorLabel>
        <rules>
            <name>Create_New_Ret_Prod_Sender_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Product_Sender_Matching_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_new_ret_prod_Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Returned_Product_Sender_Contact</targetReference>
            </connector>
            <label>Create New Ret Prod Sender Contact</label>
        </rules>
        <rules>
            <name>Ret_Prod_Sender_Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Product_Sender_Matching_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ret_Prod_Sender_Skip_this_step</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decRunningUserIsMDR</targetReference>
            </connector>
            <label>Ret Prod Sender Unknown</label>
        </rules>
    </decisions>
    <decisions>
        <name>decReturnedProductSender</name>
        <label>decReturnedProductSender</label>
        <locationX>391</locationX>
        <locationY>848</locationY>
        <defaultConnector>
            <targetReference>Returned_Product_Sender_Search_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sender Name Entered</defaultConnectorLabel>
        <rules>
            <name>Returned_by_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>A_hospital_clinic_place_sent_the_product_not_a_specific_person</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenProduct_Returned_by_a_Hospital_Clinic_Location</targetReference>
            </connector>
            <label>Returned by Account</label>
        </rules>
        <rules>
            <name>Sender_Unknown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_don_t_know_who_returned_the_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decRunningUserIsMDR</targetReference>
            </connector>
            <label>Sender Unknown</label>
        </rules>
    </decisions>
    <decisions>
        <name>decRunningUserIsMDR</name>
        <label>decRunningUserIsMDR</label>
        <locationX>394</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>updCaseOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesMDRUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRunningUserRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BINC_Medical_Device_Reporting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenReturned_Product_Report_Saved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSearchForExplantFacility</name>
        <label>decSearchForExplantFacility</label>
        <locationX>700</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>Explanting_Facility_Search_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoSearchForExplantFacility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_don_t_know_the_Explanting_Facility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decHasExplantPhysician</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSearchForExplantingPhysician</name>
        <label>decSearchForExplantingPhysician</label>
        <locationX>703</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>ExplantingPhysicianSearchResults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoIDontKnowExplantPhysician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_don_t_know_the_Explanting_Physician</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updAsset</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUserAllowedToRunFlow</name>
        <label>decUserAllowedToRunFlow</label>
        <locationX>49</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>screenNot_Allowed_to_Continue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRunningUserRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BINC_Medical_Device_Reporting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRunningUserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lupAsset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>dynExplantFacility</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Explanting_Facility_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formulaPatientAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formulaPhysicianAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varExplantingFacilityID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExplantingFacilityName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynExplantPhysician</name>
        <dataType>String</dataType>
        <displayField>contact_summary_for_flow__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Explanting_Physician_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaPhysicianContactRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varExplantingPhysicianID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExplantingPhysicianName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynMatchingHospitalsForRetProdSender</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Ret_Prod_Sender_Hospital_Clinic</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formulaPatientAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formulaPhysicianAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varRetProdSenderClinicAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynRetProdSender</name>
        <dataType>String</dataType>
        <displayField>contact_summary_for_flow__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Returned_Product_Sender_Name</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varRetProductSenderID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynRetProdSenderAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formulaPatientAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formulaPhysicianAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varRetProdSenderClinicAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MailingCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingCountryCode</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickMailingState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingStateCode</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaExplantPhysicianFullName</name>
        <dataType>String</dataType>
        <expression>{!Explant_Dr_First_Name} &amp; &quot; &quot; &amp; {!Explant_Dr_Last_Name} &amp; &quot; Physician Account&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaMDRCaseRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.medical_device_reporting_case_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaMDRQueueID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.user_id__c.mdr_queue_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaOtherAccountRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.other_account_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaOtherContactRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.other_contact_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaPatientAccountRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.patient_account_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaPhysicianAccountRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.physician_account_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaPhysicianContactRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.physician_contact_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaReturnedProductComplaintRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.rp_complaint_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaUSAccountRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.us_account_record_type_id__c}</expression>
    </formulas>
    <interviewLabel>New Returned Product Complaint &amp; Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Returned Product Complaint &amp; Case</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCase</name>
        <label>createCase</label>
        <locationX>380</locationX>
        <locationY>497</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>createComplaint</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaMDRCaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sap_company_code__c</field>
            <value>
                <stringValue>5500</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createComplaint</name>
        <label>createComplaint</label>
        <locationX>383</locationX>
        <locationY>603</locationY>
        <assignRecordIdToReference>varComplaintID</assignRecordIdToReference>
        <connector>
            <targetReference>screenReturned_Product_Sender</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaReturnedProductComplaintRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asset__c</field>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_of_event__c</field>
            <value>
                <elementReference>Event_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_product_received_by_mdr_team__c</field>
            <value>
                <elementReference>Report_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_product_returned_to_manufacturer__c</field>
            <value>
                <elementReference>Date_Product_Returned_to_Manufacturer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>event_description__c</field>
            <value>
                <elementReference>Event_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>event_reason_global__c</field>
            <value>
                <elementReference>Event_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>report_date__c</field>
            <value>
                <elementReference>Report_Date</elementReference>
            </value>
        </inputAssignments>
        <object>complaint__c</object>
    </recordCreates>
    <recordCreates>
        <name>createExplantPhysician</name>
        <label>createExplantPhysician</label>
        <locationX>906</locationX>
        <locationY>583</locationY>
        <assignRecordIdToReference>varExplantingPhysicianID</assignRecordIdToReference>
        <connector>
            <targetReference>decExplantFacilityKnown</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varExplantingPhysicianPhysicianAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Explant_Dr_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Explant_Dr_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Explant_Dr_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Explant_Dr_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountryCode</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Explant_Dr_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStateCode</field>
            <value>
                <elementReference>Explant_Dr_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Explant_Dr_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Explant_Dr_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaPhysicianContactRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npi__c</field>
            <value>
                <elementReference>Explant_Dr_NPI</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>createExplantPhysicianAcctContRelationship</name>
        <label>createExplantPhysicianAcctContRelationship</label>
        <locationX>756</locationX>
        <locationY>484</locationY>
        <assignRecordIdToReference>varExplantPhysicianAcctContRelationship</assignRecordIdToReference>
        <connector>
            <targetReference>updAsset</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varExplantingFacilityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varExplantingPhysicianID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>createNewExplantingPhysicianAccount</name>
        <label>createNewExplantingPhysicianAccount</label>
        <locationX>901</locationX>
        <locationY>495</locationY>
        <assignRecordIdToReference>varExplantingPhysicianPhysicianAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>createExplantPhysician</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaExplantPhysicianFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaPhysicianAccountRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>createNewRetProdSenderClinicAccount</name>
        <label>createNewRetProdSenderClinicAccount</label>
        <locationX>120</locationX>
        <locationY>1188</locationY>
        <assignRecordIdToReference>varRetProdSenderClinicAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>createRetProdSenderAccountComplaintRelationship</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account2_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account2_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaOtherAccountRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account2_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account2_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account2_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account2_Street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>createRetProdSenderAccountComplaintRelationship</name>
        <label>createRetProdSenderAccountComplaintRelationship</label>
        <locationX>183</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>varRetProdSenderAccountComplaintRelationshipID</assignRecordIdToReference>
        <connector>
            <targetReference>decRunningUserIsMDR</targetReference>
        </connector>
        <inputAssignments>
            <field>account__c</field>
            <value>
                <elementReference>varRetProdSenderClinicAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>complaint__c</field>
            <value>
                <elementReference>varComplaintID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_of_contact__c</field>
            <value>
                <stringValue>Returned Product Sender</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Relationships__c</object>
    </recordCreates>
    <recordCreates>
        <name>createRetProdSenderClinicAccount</name>
        <label>createRetProdSenderClinicAccount</label>
        <locationX>1028</locationX>
        <locationY>1195</locationY>
        <assignRecordIdToReference>varRetProdSenderClinicAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>createRetProdSenderContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaOtherAccountRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Ret_Prod_Sender_Clinic_Account_Street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>createRetProdSenderComplaintRelationship</name>
        <label>createRetProdSenderComplaintRelationship</label>
        <locationX>746</locationX>
        <locationY>1079</locationY>
        <assignRecordIdToReference>varRetProdSenderComplaintRelationshipID</assignRecordIdToReference>
        <connector>
            <targetReference>decRunningUserIsMDR</targetReference>
        </connector>
        <inputAssignments>
            <field>complaint__c</field>
            <value>
                <elementReference>varComplaintID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contact__c</field>
            <value>
                <elementReference>varRetProductSenderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_of_contact__c</field>
            <value>
                <stringValue>Returned Product Sender</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Relationships__c</object>
    </recordCreates>
    <recordCreates>
        <name>createRetProdSenderContact</name>
        <label>createRetProdSenderContact</label>
        <locationX>911</locationX>
        <locationY>1085</locationY>
        <assignRecordIdToReference>varRetProductSenderID</assignRecordIdToReference>
        <connector>
            <targetReference>createRetProdSenderComplaintRelationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRetProdSenderClinicAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Ret_Prod_Sender_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Ret_Prod_Sender_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Ret_Prod_Sender_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Ret_Prod_Sender_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountryCode</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Ret_Prod_Sender_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStateCode</field>
            <value>
                <elementReference>Ret_Prod_Sender_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Ret_Prod_Sender_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Ret_Prod_Sender_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaOtherContactRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npi__c</field>
            <value>
                <elementReference>Ret_Prod_Sender_NPI</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>lupAsset</name>
        <label>lupAsset</label>
        <locationX>48</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenNewReturnedProduct</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>varExplantDate</assignToReference>
            <field>Explant_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExplantingFacilityID</assignToReference>
            <field>explanting_facility__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExplantingPhysicianID</assignToReference>
            <field>explanting_physician__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOOSDate</assignToReference>
            <field>oos_date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updAsset</name>
        <label>updAsset</label>
        <locationX>377</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Explant_Date__c</field>
            <value>
                <elementReference>Explant_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OOS_Reason__c</field>
            <value>
                <elementReference>Event_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Explanted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>explanting_facility__c</field>
            <value>
                <elementReference>varExplantingFacilityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>explanting_physician__c</field>
            <value>
                <elementReference>varExplantingPhysicianID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_additional_information__c</field>
            <value>
                <elementReference>Event_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_date__c</field>
            <value>
                <elementReference>Out_of_Service_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updCaseOwner</name>
        <label>updCaseOwner</label>
        <locationX>507</locationX>
        <locationY>1149</locationY>
        <connector>
            <targetReference>updComplaintOwner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>formulaMDRQueueID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updComplaintOwner</name>
        <label>updComplaintOwner</label>
        <locationX>509</locationX>
        <locationY>1251</locationY>
        <connector>
            <targetReference>screenReturned_Product_Report_Saved</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varComplaintID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>formulaMDRQueueID</elementReference>
            </value>
        </inputAssignments>
        <object>complaint__c</object>
    </recordUpdates>
    <screens>
        <name>Create_New_Clinic_Account</name>
        <label>Create New Clinic Account</label>
        <locationX>50</locationX>
        <locationY>1081</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createNewRetProdSenderClinicAccount</targetReference>
        </connector>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account2_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account2_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account2_Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account2_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account2_State</name>
            <choiceReferences>Alabama</choiceReferences>
            <choiceReferences>Alaska</choiceReferences>
            <choiceReferences>Arizona</choiceReferences>
            <choiceReferences>Arkansas</choiceReferences>
            <choiceReferences>California</choiceReferences>
            <choiceReferences>Colorado</choiceReferences>
            <choiceReferences>Connecticut</choiceReferences>
            <choiceReferences>Delaware</choiceReferences>
            <choiceReferences>District_of_Columbia</choiceReferences>
            <choiceReferences>Florida</choiceReferences>
            <choiceReferences>Georgia</choiceReferences>
            <choiceReferences>Hawaii</choiceReferences>
            <choiceReferences>Idaho</choiceReferences>
            <choiceReferences>Illinois</choiceReferences>
            <choiceReferences>Indiana</choiceReferences>
            <choiceReferences>Iowa</choiceReferences>
            <choiceReferences>Kansas</choiceReferences>
            <choiceReferences>Kentucky</choiceReferences>
            <choiceReferences>Louisiana</choiceReferences>
            <choiceReferences>Maine</choiceReferences>
            <choiceReferences>Maryland</choiceReferences>
            <choiceReferences>Massachusetts</choiceReferences>
            <choiceReferences>Michigan</choiceReferences>
            <choiceReferences>Minnesota</choiceReferences>
            <choiceReferences>Mississippi</choiceReferences>
            <choiceReferences>Missouri</choiceReferences>
            <choiceReferences>Montana</choiceReferences>
            <choiceReferences>Nebraska</choiceReferences>
            <choiceReferences>Nevada</choiceReferences>
            <choiceReferences>New_Hampshire</choiceReferences>
            <choiceReferences>New_Jersey</choiceReferences>
            <choiceReferences>New_Mexico</choiceReferences>
            <choiceReferences>New_York</choiceReferences>
            <choiceReferences>North_Carolina</choiceReferences>
            <choiceReferences>North_Dakota</choiceReferences>
            <choiceReferences>Ohio</choiceReferences>
            <choiceReferences>Oklahoma</choiceReferences>
            <choiceReferences>Oregon</choiceReferences>
            <choiceReferences>Pennsylvania</choiceReferences>
            <choiceReferences>Rhode_Island</choiceReferences>
            <choiceReferences>South_Carolina</choiceReferences>
            <choiceReferences>South_Dakota</choiceReferences>
            <choiceReferences>Tennessee</choiceReferences>
            <choiceReferences>Texas</choiceReferences>
            <choiceReferences>Utah</choiceReferences>
            <choiceReferences>Vermont</choiceReferences>
            <choiceReferences>Virginia</choiceReferences>
            <choiceReferences>Washington</choiceReferences>
            <choiceReferences>West_Virginia</choiceReferences>
            <choiceReferences>Wisconsin</choiceReferences>
            <choiceReferences>Wyoming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account2_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Return_Product_Sender_Clinic_Account</name>
        <label>Create New Return Product Sender Clinic/Account</label>
        <locationX>1216</locationX>
        <locationY>1194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createRetProdSenderClinicAccount</targetReference>
        </connector>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account_Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account_State</name>
            <choiceReferences>Alabama</choiceReferences>
            <choiceReferences>Alaska</choiceReferences>
            <choiceReferences>Arizona</choiceReferences>
            <choiceReferences>Arkansas</choiceReferences>
            <choiceReferences>California</choiceReferences>
            <choiceReferences>Colorado</choiceReferences>
            <choiceReferences>Connecticut</choiceReferences>
            <choiceReferences>Delaware</choiceReferences>
            <choiceReferences>District_of_Columbia</choiceReferences>
            <choiceReferences>Florida</choiceReferences>
            <choiceReferences>Georgia</choiceReferences>
            <choiceReferences>Hawaii</choiceReferences>
            <choiceReferences>Idaho</choiceReferences>
            <choiceReferences>Illinois</choiceReferences>
            <choiceReferences>Indiana</choiceReferences>
            <choiceReferences>Iowa</choiceReferences>
            <choiceReferences>Kansas</choiceReferences>
            <choiceReferences>Kentucky</choiceReferences>
            <choiceReferences>Louisiana</choiceReferences>
            <choiceReferences>Maine</choiceReferences>
            <choiceReferences>Maryland</choiceReferences>
            <choiceReferences>Massachusetts</choiceReferences>
            <choiceReferences>Michigan</choiceReferences>
            <choiceReferences>Minnesota</choiceReferences>
            <choiceReferences>Mississippi</choiceReferences>
            <choiceReferences>Missouri</choiceReferences>
            <choiceReferences>Montana</choiceReferences>
            <choiceReferences>Nebraska</choiceReferences>
            <choiceReferences>Nevada</choiceReferences>
            <choiceReferences>New_Hampshire</choiceReferences>
            <choiceReferences>New_Jersey</choiceReferences>
            <choiceReferences>New_Mexico</choiceReferences>
            <choiceReferences>New_York</choiceReferences>
            <choiceReferences>North_Carolina</choiceReferences>
            <choiceReferences>North_Dakota</choiceReferences>
            <choiceReferences>Ohio</choiceReferences>
            <choiceReferences>Oklahoma</choiceReferences>
            <choiceReferences>Oregon</choiceReferences>
            <choiceReferences>Pennsylvania</choiceReferences>
            <choiceReferences>Rhode_Island</choiceReferences>
            <choiceReferences>South_Carolina</choiceReferences>
            <choiceReferences>South_Dakota</choiceReferences>
            <choiceReferences>Tennessee</choiceReferences>
            <choiceReferences>Texas</choiceReferences>
            <choiceReferences>Utah</choiceReferences>
            <choiceReferences>Vermont</choiceReferences>
            <choiceReferences>Virginia</choiceReferences>
            <choiceReferences>Washington</choiceReferences>
            <choiceReferences>West_Virginia</choiceReferences>
            <choiceReferences>Wisconsin</choiceReferences>
            <choiceReferences>Wyoming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Account_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Returned_Product_Sender_Contact</name>
        <label>Create New Returned Product Sender Contact</label>
        <locationX>1048</locationX>
        <locationY>972</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenMatching_Hospitals_Clinics_for_Return_Product_Sender</targetReference>
        </connector>
        <fields>
            <name>Ret_Prod_Sender_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_NPI</name>
            <dataType>String</dataType>
            <fieldText>NPI #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_State</name>
            <choiceReferences>Alabama</choiceReferences>
            <choiceReferences>Alaska</choiceReferences>
            <choiceReferences>Arizona</choiceReferences>
            <choiceReferences>Arkansas</choiceReferences>
            <choiceReferences>California</choiceReferences>
            <choiceReferences>Colorado</choiceReferences>
            <choiceReferences>Connecticut</choiceReferences>
            <choiceReferences>Delaware</choiceReferences>
            <choiceReferences>District_of_Columbia</choiceReferences>
            <choiceReferences>Florida</choiceReferences>
            <choiceReferences>Georgia</choiceReferences>
            <choiceReferences>Hawaii</choiceReferences>
            <choiceReferences>Idaho</choiceReferences>
            <choiceReferences>Illinois</choiceReferences>
            <choiceReferences>Indiana</choiceReferences>
            <choiceReferences>Iowa</choiceReferences>
            <choiceReferences>Kansas</choiceReferences>
            <choiceReferences>Kentucky</choiceReferences>
            <choiceReferences>Louisiana</choiceReferences>
            <choiceReferences>Maine</choiceReferences>
            <choiceReferences>Maryland</choiceReferences>
            <choiceReferences>Massachusetts</choiceReferences>
            <choiceReferences>Michigan</choiceReferences>
            <choiceReferences>Minnesota</choiceReferences>
            <choiceReferences>Mississippi</choiceReferences>
            <choiceReferences>Missouri</choiceReferences>
            <choiceReferences>Montana</choiceReferences>
            <choiceReferences>Nebraska</choiceReferences>
            <choiceReferences>Nevada</choiceReferences>
            <choiceReferences>New_Hampshire</choiceReferences>
            <choiceReferences>New_Jersey</choiceReferences>
            <choiceReferences>New_Mexico</choiceReferences>
            <choiceReferences>New_York</choiceReferences>
            <choiceReferences>North_Carolina</choiceReferences>
            <choiceReferences>North_Dakota</choiceReferences>
            <choiceReferences>Ohio</choiceReferences>
            <choiceReferences>Oklahoma</choiceReferences>
            <choiceReferences>Oregon</choiceReferences>
            <choiceReferences>Pennsylvania</choiceReferences>
            <choiceReferences>Rhode_Island</choiceReferences>
            <choiceReferences>South_Carolina</choiceReferences>
            <choiceReferences>South_Dakota</choiceReferences>
            <choiceReferences>Tennessee</choiceReferences>
            <choiceReferences>Texas</choiceReferences>
            <choiceReferences>Utah</choiceReferences>
            <choiceReferences>Vermont</choiceReferences>
            <choiceReferences>Virginia</choiceReferences>
            <choiceReferences>Washington</choiceReferences>
            <choiceReferences>West_Virginia</choiceReferences>
            <choiceReferences>Wisconsin</choiceReferences>
            <choiceReferences>Wyoming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Hospital_Clinic</name>
            <dataType>String</dataType>
            <fieldText>Hospital/Clinic</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Explanting_Facility_Search_Results</name>
        <label>Explanting Facility Search Results</label>
        <locationX>885</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decHasExplantPhysician</targetReference>
        </connector>
        <fields>
            <name>ExplantFacilitySearchResultsText</name>
            <fieldText>Please select an Account from the following list.  If you don&apos;t see the right Account, please either go back and try different search criteria or choose &quot;Explanting Facility is not listed&quot;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Explanting_Facility_Matching_Records</name>
            <choiceReferences>dynExplantFacility</choiceReferences>
            <choiceReferences>Explanting_Facility_Skip_this_step</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Records</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ExplantingPhysicianSearchResults</name>
        <label>ExplantingPhysicianSearchResults</label>
        <locationX>888</locationX>
        <locationY>169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decExplantPhysicianResults</targetReference>
        </connector>
        <fields>
            <name>ExplantPhysicianSearchResultsText</name>
            <fieldText>Please select a physician from the following list.  If you don&apos;t see the right physician, please either go back and try different search criteria, choose &quot;I don&apos;t know the Explanting Physician&quot; or choose &quot;Create a New Physician Record&quot; to add a new doctor.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Explanting_Physician_Matching_Records</name>
            <choiceReferences>dynExplantPhysician</choiceReferences>
            <choiceReferences>Explanting_Physician_Skip_this_step</choiceReferences>
            <choiceReferences>Create_New_Explant_Physician_Record</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Records</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Returned_Product_Sender_Search_Results</name>
        <label>Returned Product Sender Search Results</label>
        <locationX>733</locationX>
        <locationY>783</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decRetProdSenderContactResult</targetReference>
        </connector>
        <fields>
            <name>RetProdSenderSearchResultsText</name>
            <fieldText>Please select the returned product sender from the list below.  If none of the matching records are the correct person, try going back and using different search criteria, selecting &quot;I don&apos;t know who returned the product&quot; or selecting &quot;Create new Contact&quot; to add a new person as a contact.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Return_Product_Sender_Matching_Records</name>
            <choiceReferences>dynRetProdSender</choiceReferences>
            <choiceReferences>Ret_Prod_Sender_Skip_this_step</choiceReferences>
            <choiceReferences>Create_new_ret_prod_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Records</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenCreate_New_Explanting_Physician</name>
        <label>Create New Explanting Physician</label>
        <locationX>898</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createNewExplantingPhysicianAccount</targetReference>
        </connector>
        <fields>
            <name>Explant_Dr_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_NPI</name>
            <dataType>String</dataType>
            <fieldText>NPI #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_State</name>
            <choiceReferences>Alabama</choiceReferences>
            <choiceReferences>Alaska</choiceReferences>
            <choiceReferences>Arizona</choiceReferences>
            <choiceReferences>Arkansas</choiceReferences>
            <choiceReferences>California</choiceReferences>
            <choiceReferences>Colorado</choiceReferences>
            <choiceReferences>Connecticut</choiceReferences>
            <choiceReferences>Delaware</choiceReferences>
            <choiceReferences>District_of_Columbia</choiceReferences>
            <choiceReferences>Florida</choiceReferences>
            <choiceReferences>Georgia</choiceReferences>
            <choiceReferences>Hawaii</choiceReferences>
            <choiceReferences>Idaho</choiceReferences>
            <choiceReferences>Illinois</choiceReferences>
            <choiceReferences>Indiana</choiceReferences>
            <choiceReferences>Iowa</choiceReferences>
            <choiceReferences>Kansas</choiceReferences>
            <choiceReferences>Kentucky</choiceReferences>
            <choiceReferences>Louisiana</choiceReferences>
            <choiceReferences>Maine</choiceReferences>
            <choiceReferences>Maryland</choiceReferences>
            <choiceReferences>Massachusetts</choiceReferences>
            <choiceReferences>Michigan</choiceReferences>
            <choiceReferences>Minnesota</choiceReferences>
            <choiceReferences>Mississippi</choiceReferences>
            <choiceReferences>Missouri</choiceReferences>
            <choiceReferences>Montana</choiceReferences>
            <choiceReferences>Nebraska</choiceReferences>
            <choiceReferences>Nevada</choiceReferences>
            <choiceReferences>New_Hampshire</choiceReferences>
            <choiceReferences>New_Jersey</choiceReferences>
            <choiceReferences>New_York</choiceReferences>
            <choiceReferences>North_Carolina</choiceReferences>
            <choiceReferences>North_Dakota</choiceReferences>
            <choiceReferences>Ohio</choiceReferences>
            <choiceReferences>Oklahoma</choiceReferences>
            <choiceReferences>Oregon</choiceReferences>
            <choiceReferences>Pennsylvania</choiceReferences>
            <choiceReferences>Rhode_Island</choiceReferences>
            <choiceReferences>South_Carolina</choiceReferences>
            <choiceReferences>South_Dakota</choiceReferences>
            <choiceReferences>Tennessee</choiceReferences>
            <choiceReferences>Texas</choiceReferences>
            <choiceReferences>Utah</choiceReferences>
            <choiceReferences>Vermont</choiceReferences>
            <choiceReferences>Virginia</choiceReferences>
            <choiceReferences>Washington</choiceReferences>
            <choiceReferences>West_Virginia</choiceReferences>
            <choiceReferences>Wisconsin</choiceReferences>
            <choiceReferences>Wyoming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Hospital_Clinic</name>
            <dataType>String</dataType>
            <fieldText>Hospital/Clinic</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenExplanting_Facility</name>
        <label>Explanting Facility</label>
        <locationX>537</locationX>
        <locationY>22</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decSearchForExplantFacility</targetReference>
        </connector>
        <fields>
            <name>ExplantingFacilityIntro</name>
            <fieldText>Please enter the name of the Explanting Facility below to search for a match.  If you don&apos;t know the Explanting Facility, then check the box to skip the search.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Explanting_Facility_Name</name>
            <dataType>String</dataType>
            <fieldText>Explanting Facility Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>I_don_t_know_the_Explanting_Facility</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&apos;t know the Explanting Facility</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenExplanting_Physician</name>
        <label>Explanting Physician</label>
        <locationX>540</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decSearchForExplantingPhysician</targetReference>
        </connector>
        <fields>
            <name>ExplantingPhysicianIntro</name>
            <fieldText>Please enter the name of the Explanting Physician below to search for a match.  If you don&apos;t know the Explanting Physician, then check the box to skip the search.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Explanting_Physician_Name</name>
            <dataType>String</dataType>
            <fieldText>Explanting Physician Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>I_don_t_know_the_Explanting_Physician</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&apos;t know the Explanting Physician</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenMatching_Hospitals_Clinics_for_Return_Product_Sender</name>
        <label>Matching Hospitals/Clinics for Return Product Sender</label>
        <locationX>1204</locationX>
        <locationY>968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decCreateNewRetProdSenderClinicAccount</targetReference>
        </connector>
        <fields>
            <name>MatchingHospitalsClinicsForRetProdSender</name>
            <fieldText>Please select the hospital/clinic the return product sender works at from the list below or create a new Account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Clinic_Matching_Hospitals_Clinics</name>
            <choiceReferences>dynMatchingHospitalsForRetProdSender</choiceReferences>
            <choiceReferences>Create_new_clinic_Account_for_return_product_sender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Hospitals/Clinics</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNewReturnedProduct</name>
        <label>screenNewReturnedProduct</label>
        <locationX>196</locationX>
        <locationY>29</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decHasExplantFacility</targetReference>
        </connector>
        <fields>
            <name>IntroText</name>
            <fieldText>Please enter the following details for the product that was returned:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenSerialNumber</name>
            <fieldText>Serial Number: {!varAssetSerialNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Report_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date Product Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Date Product Received must be after both the Out of Service Date and Explant Date.</errorMessage>
                <formulaExpression>OR(

AND(
OR(
ISBLANK({!Out_of_Service_Date}),
{!Report_Date} &gt; {!Out_of_Service_Date}),
OR(
ISBLANK({!Explant_Date}),
{!Report_Date} &gt; {!Explant_Date}),

{!Report_Date} &lt;= {!$Flow.CurrentDate}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Event_Date</name>
            <dataType>Date</dataType>
            <fieldText>Event Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The Event Date must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>OR(
ISBLANK({!Event_Date}),
{!Event_Date} &lt;= {!$Flow.CurrentDate})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Event_Reason</name>
            <choiceReferences>choiceERI</choiceReferences>
            <choiceReferences>choicePatient_Anatomy</choiceReferences>
            <choiceReferences>choicePatient_Death</choiceReferences>
            <choiceReferences>choiceUpgrade</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Event_Description</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Out_of_Service_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varOOSDate</elementReference>
            </defaultValue>
            <fieldText>Out of Service Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The Out of Service Date must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>OR(
ISBLANK({!Out_of_Service_Date}),
{!Out_of_Service_Date} &lt;= {!$Flow.CurrentDate})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Explant_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varExplantDate</elementReference>
            </defaultValue>
            <fieldText>Explant Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The Explant Date must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>OR(
ISBLANK({!Explant_Date}),
{!Explant_Date} &lt;= {!$Flow.CurrentDate})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Date_Product_Returned_to_Manufacturer</name>
            <dataType>Date</dataType>
            <fieldText>Date Product Returned to Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenNot_Allowed_to_Continue</name>
        <label>Not Allowed to Continue</label>
        <locationX>52</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotAllowedToContinueText</name>
            <fieldText>You do not have the correct permissions to create a Returned Product Report.  Only members of the Medical Device Reporting team or System Administrators can do this.  Please click the back button to return to the Asset where you can click the New Product Event Report button to enter a different type of report or complaint.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenProduct_Returned_by_a_Hospital_Clinic_Location</name>
        <label>Product Returned by a Hospital/Clinic/Location</label>
        <locationX>84</locationX>
        <locationY>787</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenProduct_Returned_by_Hospital_Search_Results</targetReference>
        </connector>
        <fields>
            <name>RetProdSenderHospitalText</name>
            <fieldText>Enter the name of the Account below to record it as the returned product sender.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenProduct_Returned_by_Hospital_Search_Results</name>
        <label>Product Returned by Hospital Search Results</label>
        <locationX>83</locationX>
        <locationY>872</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decCreateNewRetProdSenderAccount</targetReference>
        </connector>
        <fields>
            <name>RetProdSenderHospitalSearchResultsText</name>
            <fieldText>Choose an Account below to record as the returned product sender.  If none of the matching records are correct, either go back and try different search criteria or choose &quot;Create New Account&quot; to add a new clinic.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ret_Prod_Sender_Account_Matching_Records</name>
            <choiceReferences>dynRetProdSenderAccount</choiceReferences>
            <choiceReferences>Create_New_Ret_Prod_Sender_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Records</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenReturned_Product_Report_Saved</name>
        <label>Returned Product Report Saved</label>
        <locationX>388</locationX>
        <locationY>1370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RPReportSavedText</name>
            <fieldText>A new Returned Product Report has been saved.  Click Finish to return to the Asset that was returned.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenReturned_Product_Sender</name>
        <label>Returned Product Sender</label>
        <locationX>387</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decReturnedProductSender</targetReference>
        </connector>
        <fields>
            <name>ReturnedProductSenderText</name>
            <fieldText>Enter the name of the person who returned the product.  If you do not know the specific person but know the hospital/clinic/general location, check the 2nd box.  If you do not know who returned the product, check the last box.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Returned_Product_Sender_Name</name>
            <dataType>String</dataType>
            <fieldText>Product Returned By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please choose one option for the party who returned the product.</errorMessage>
                <formulaExpression>OR(

AND(
!ISBLANK({!Returned_Product_Sender_Name}),
{!A_hospital_clinic_place_sent_the_product_not_a_specific_person} = False,
{!I_don_t_know_who_returned_the_product} = False),

AND(
ISBLANK({!Returned_Product_Sender_Name}),
{!A_hospital_clinic_place_sent_the_product_not_a_specific_person} = True,
{!I_don_t_know_who_returned_the_product} = False),

AND(
ISBLANK({!Returned_Product_Sender_Name}),
{!A_hospital_clinic_place_sent_the_product_not_a_specific_person} = False,
{!I_don_t_know_who_returned_the_product} = True))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>A_hospital_clinic_place_sent_the_product_not_a_specific_person</name>
            <dataType>Boolean</dataType>
            <fieldText>A hospital/clinic/place sent the product, not a specific person</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_don_t_know_who_returned_the_product</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&apos;t know who returned the product</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>decUserAllowedToRunFlow</startElementReference>
    <variables>
        <name>varAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssetSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComplaintID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingFacilityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingFacilityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingPhysicianAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingPhysicianID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingPhysicianName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingPhysicianPhysicianAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantPhysicianAcctContRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOOSDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRetProdSenderAccountComplaintRelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRetProdSenderClinicAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRetProdSenderComplaintRelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRetProductSenderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRunningUserProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRunningUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
