flows/New_Complaint_Report-50.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignCMComplaint</name>
        <label>assignCMComplaint</label>
        <locationX>1283</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>varComplaintRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCMComplaintRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReportDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_Report_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateOfEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_Date_of_Event</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_Event_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_Event_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updAssetFieldsCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignGeneralComplaint</name>
        <label>assignGeneralComplaint</label>
        <locationX>1288</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>varComplaintRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaGeneralComplaintRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReportDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>General_Report_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateOfEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>General_Date_of_Event</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>General_Event_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDrLetterRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDrLetterYesNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeneralEvent_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updAssetFieldsGeneral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNoDrLetterRequired</name>
        <label>assignNoDrLetterRequired</label>
        <locationX>2091</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>varDrLetterRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decAreYouMainBioContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOOSComplaint</name>
        <label>assignOOSComplaint</label>
        <locationX>979</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>varComplaintRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaOOSComplaintRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReportDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OOS_Report_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateOfEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OOS_Date_of_Event</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OOS_Event_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDrLetterRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDrLetterYesNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OOSEvent_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Device_Lead_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updAssetFieldsOOS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignProgrammerComplaint</name>
        <label>assignProgrammerComplaint</label>
        <locationX>1289</locationX>
        <locationY>27</locationY>
        <assignmentItems>
            <assignToReference>varComplaintRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaProgrammerComplaintRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReportDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Programmer_Report_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateOfEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Programmer_Date_of_Event</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Programmer_Event_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgrammerEvent_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updAssetFieldsProgrammer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRevisionComplaint</name>
        <label>assignRevisionComplaint</label>
        <locationX>1294</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>varComplaintRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaRevisionComplaintRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReportDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revision_Report_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateOfEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revision_Date_of_Event</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revision_Event_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDrLetterRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDrLetterYesNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEventReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevisionEvent_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updAssetFieldsRevision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Alabama</name>
        <choiceText>Alabama</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alaska</name>
        <choiceText>Alaska</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arizona</name>
        <choiceText>Arizona</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AZ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arkansas</name>
        <choiceText>Arkansas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR</stringValue>
        </value>
    </choices>
    <choices>
        <name>California</name>
        <choiceText>California</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceBoth</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCardio_Messenger</name>
        <choiceText>Cardio Messenger</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cardio Messenger</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCreate_New_Account</name>
        <choiceText>Create New Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDislodgement</name>
        <choiceText>Dislodgement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dislodgement</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceERI</name>
        <choiceText>ERI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ERI</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceErosion</name>
        <choiceText>Erosion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Erosion</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceError_Message</name>
        <choiceText>Error Message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Error Message</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceGeneral_Complaint</name>
        <choiceText>General Complaint</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceInfection</name>
        <choiceText>Infection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Infection</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLandline_Issue</name>
        <choiceText>Landline Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Landline Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLead_Reposition</name>
        <choiceText>Lead Reposition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Reposition</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOUS_OEM</name>
        <choiceText>OUS/OEM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OUS</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOut_of_Service_OOS</name>
        <choiceText>Out of Service (OOS)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Out of Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePatient_Anatomy</name>
        <choiceText>Patient Anatomy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient Anatomy</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePatient_Death</name>
        <choiceText>Patient Death</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient Death</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePocket_Revision</name>
        <choiceText>Pocket Revision</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pocket Revision</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePower_Issue</name>
        <choiceText>Power Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Power Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePrinter</name>
        <choiceText>Printer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Printer</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceReturned_Product_Report</name>
        <choiceText>Returned Product Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Returned Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceRevision_Report</name>
        <choiceText>Revision Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revision</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceScreen_Freeze</name>
        <choiceText>Screen Freeze</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Screen Freeze</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStart_Up</name>
        <choiceText>Start Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Start Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStorm_Damage</name>
        <choiceText>Storm Damage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Storm Damage</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceTelephone_Complaint</name>
        <choiceText>Telephone Complaint</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telephone Complaint</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUnable_to_Transmit</name>
        <choiceText>Unable to Transmit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to Transmit</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUpgrade</name>
        <choiceText>Upgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upgrade</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicevarAssetStatus</name>
        <choiceText>{!varAssetStatus}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varAssetStatus</elementReference>
        </value>
    </choices>
    <choices>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Colorado</name>
        <choiceText>Colorado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Connecticut</name>
        <choiceText>Connecticut</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_a_New_Physician_Record</name>
        <choiceText>Create a New Physician Record</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_clinic_account_for_Explanting_Physician</name>
        <choiceText>Create new clinic account for Explanting Physician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_Physician_Contact</name>
        <choiceText>Create new Physician Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delaware</name>
        <choiceText>Delaware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DE</stringValue>
        </value>
    </choices>
    <choices>
        <name>District_of_Columbia</name>
        <choiceText>District of Columbia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dr_Letter_Rec_Skip_this_step</name>
        <choiceText>I don&apos;t know who should receive the doctor&apos;s letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <choices>
        <name>Explanting_Facility_is_not_listed</name>
        <choiceText>Explanting Facility is not listed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <choices>
        <name>Florida</name>
        <choiceText>Florida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Georgia</name>
        <choiceText>Georgia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hawaii</name>
        <choiceText>Hawaii</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Idaho</name>
        <choiceText>Idaho</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ID</stringValue>
        </value>
    </choices>
    <choices>
        <name>Illinois</name>
        <choiceText>Illinois</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indiana</name>
        <choiceText>Indiana</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Iowa</name>
        <choiceText>Iowa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kansas</name>
        <choiceText>Kansas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>KS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kentucky</name>
        <choiceText>Kentucky</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>KY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Louisiana</name>
        <choiceText>Louisiana</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maine</name>
        <choiceText>Maine</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ME</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maryland</name>
        <choiceText>Maryland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Massachusetts</name>
        <choiceText>Massachusetts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Michigan</name>
        <choiceText>Michigan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Minnesota</name>
        <choiceText>Minnesota</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mississippi</name>
        <choiceText>Mississippi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Missouri</name>
        <choiceText>Missouri</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Montana</name>
        <choiceText>Montana</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nebraska</name>
        <choiceText>Nebraska</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nevada</name>
        <choiceText>Nevada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NV</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Hampshire</name>
        <choiceText>New Hampshire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NH</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Jersey</name>
        <choiceText>New Jersey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NJ</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Mexico</name>
        <choiceText>New Mexico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NM</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_York</name>
        <choiceText>New York</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NY</stringValue>
        </value>
    </choices>
    <choices>
        <name>North_Carolina</name>
        <choiceText>North Carolina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NC</stringValue>
        </value>
    </choices>
    <choices>
        <name>North_Dakota</name>
        <choiceText>North Dakota</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ND</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ohio</name>
        <choiceText>Ohio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oklahoma</name>
        <choiceText>Oklahoma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>O</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oregon</name>
        <choiceText>Oregon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pennsylvania</name>
        <choiceText>Pennsylvania</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rhode_Island</name>
        <choiceText>Rhode Island</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Skip_Explanting_Physician</name>
        <choiceText>I don&apos;t know the Explanting Physician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <choices>
        <name>South_Carolina</name>
        <choiceText>South Carolina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SC</stringValue>
        </value>
    </choices>
    <choices>
        <name>South_Dakota</name>
        <choiceText>South Dakota</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tennessee</name>
        <choiceText>Tennessee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Texas</name>
        <choiceText>Texas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TX</stringValue>
        </value>
    </choices>
    <choices>
        <name>Utah</name>
        <choiceText>Utah</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vermont</name>
        <choiceText>Vermont</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Virginia</name>
        <choiceText>Virginia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Washington</name>
        <choiceText>Washington</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WA</stringValue>
        </value>
    </choices>
    <choices>
        <name>West_Virginia</name>
        <choiceText>West Virginia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wisconsin</name>
        <choiceText>Wisconsin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wyoming</name>
        <choiceText>Wyoming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WY</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decAreYouMainBioContact</name>
        <label>decAreYouMainBioContact</label>
        <locationX>2282</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>screenSearch_for_main_bio_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outcomeMainBioContactYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>General_main_Biotronik_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CM_main_Biotronik_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OOS_main_Biotronik_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Revision_main_Biotronik_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Programmer_main_Biotronik_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lupRunningUserContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decAssetProductType</name>
        <label>decAssetProductType</label>
        <locationX>132</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>screenContact_Administrator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Product Type</defaultConnectorLabel>
        <rules>
            <name>outcomeAccessory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenComplaint_Type_Accessory</targetReference>
            </connector>
            <label>Accessory</label>
        </rules>
        <rules>
            <name>outcomeAdapter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adapter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateGeneralComplaint</targetReference>
            </connector>
            <label>Adapter</label>
        </rules>
        <rules>
            <name>outcomeCardio_Messenger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cardio Messenger</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenComplaint_Type_CM</targetReference>
            </connector>
            <label>Cardio Messenger</label>
        </rules>
        <rules>
            <name>outcomeCRT_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRT-D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenComplaint_Type_Most_types</targetReference>
            </connector>
            <label>CRT-D</label>
        </rules>
        <rules>
            <name>outcomeCRT_P</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRT-P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenComplaint_Type_Most_types</targetReference>
            </connector>
            <label>CRT-P</label>
        </rules>
        <rules>
            <name>outcomeICD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ICD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenComplaint_Type_Most_types</targetReference>
            </connector>
            <label>ICD</label>
        </rules>
        <rules>
            <name>outcomeLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenComplaint_Type_Most_types</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>outcomeLoop_Recorder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loop Recorder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenComplaint_Type_Most_types</targetReference>
            </connector>
            <label>Loop Recorder</label>
        </rules>
        <rules>
            <name>outcomePacemaker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pacemaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenComplaint_Type_Most_types</targetReference>
            </connector>
            <label>Pacemaker</label>
        </rules>
        <rules>
            <name>outcomeSystem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenComplaint_Type_Most_types</targetReference>
            </connector>
            <label>System</label>
        </rules>
        <rules>
            <name>Programmer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Programmer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateProgrammerComplaint</targetReference>
            </connector>
            <label>Programmer</label>
        </rules>
    </decisions>
    <decisions>
        <name>decComplaintRelationshipDrLetterNeeded</name>
        <label>decComplaintRelationshipDrLetterNeeded</label>
        <locationX>3027</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>decIsRevisionReport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outcomeComplaintRelationshipDrLetterYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaDrLetterYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createComplaintRelationshipDrLetter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decComplaintTypeAccessory</name>
        <label>decComplaintTypeAccessory</label>
        <locationX>566</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>screenContact_Administrator2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContactAdmin</defaultConnectorLabel>
        <rules>
            <name>outcomeAccessoryGeneral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_Accessory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateGeneralComplaint</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>outcomeAccessoryOUS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_Accessory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OUS</stringValue>
                </rightValue>
            </conditions>
            <label>OUS</label>
        </rules>
        <rules>
            <name>outcomeAccessoryReturned_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_Accessory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned Product</stringValue>
                </rightValue>
            </conditions>
            <label>Returned Product</label>
        </rules>
        <rules>
            <name>outcomeAccessoryRevision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_Accessory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateRevisionComplaint</targetReference>
            </connector>
            <label>Revision</label>
        </rules>
    </decisions>
    <decisions>
        <name>decComplaintTypeCM</name>
        <label>decComplaintTypeCM</label>
        <locationX>555</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>screenContact_Administrator2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContactAdmin</defaultConnectorLabel>
        <rules>
            <name>outcomeCMCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_CardioMessenger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cardio Messenger</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateCMComplaint</targetReference>
            </connector>
            <label>CM</label>
        </rules>
        <rules>
            <name>outcomeCMGeneral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_CardioMessenger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateGeneralComplaint</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>outcomeCMOUS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_CardioMessenger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OUS</stringValue>
                </rightValue>
            </conditions>
            <label>OUS</label>
        </rules>
        <rules>
            <name>Returned_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_CardioMessenger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned Product</stringValue>
                </rightValue>
            </conditions>
            <label>Returned Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>decComplaintTypeMostTypes</name>
        <label>decComplaintTypeMostTypes</label>
        <locationX>569</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>screenContact_Administrator2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContactAdmin</defaultConnectorLabel>
        <rules>
            <name>outcomeMostTypesGeneral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_MostTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateGeneralComplaint</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>outcomeMostTypesOut_of_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_MostTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateOOSComplaint</targetReference>
            </connector>
            <label>Out of Service</label>
        </rules>
        <rules>
            <name>outcomeMostTypesOUS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_MostTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OUS</stringValue>
                </rightValue>
            </conditions>
            <label>OUS</label>
        </rules>
        <rules>
            <name>outcomeMostTypesReturned_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_MostTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned Product</stringValue>
                </rightValue>
            </conditions>
            <label>Returned Product</label>
        </rules>
        <rules>
            <name>outcomeMostTypesRevision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint_Type_Choice_MostTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateRevisionComplaint</targetReference>
            </connector>
            <label>Revision</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCreateNewAccount</name>
        <label>decCreateNewAccount</label>
        <locationX>2303</locationX>
        <locationY>847</locationY>
        <defaultConnector>
            <targetReference>createDrLetterRecPhysicianAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreateNewAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matching_Hospitals_Clinics_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceCreate_New_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreate_New_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCreateNewDrLetterRec</name>
        <label>decCreateNewDrLetterRec</label>
        <locationX>2161</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>decAreYouMainBioContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreateNewDrLetterRec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Physician_Matching_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_new_Physician_Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Physician_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Skip_Complaint_Relationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Physician_Matching_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dr_Letter_Rec_Skip_this_step</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decAreYouMainBioContact</targetReference>
            </connector>
            <label>Skip Complaint Relationship</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCreateNewRevisingFacility</name>
        <label>decCreateNewRevisingFacility</label>
        <locationX>1109</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>decCreateNewRevisingPhysician</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revising_Facility_Search_Results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceCreate_New_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Revising_Facility_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCreateNewRevisingPhysician</name>
        <label>decCreateNewRevisingPhysician</label>
        <locationX>1289</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>assignRevisionComplaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesNewRevisingPhysician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revising_Physician_Search_Results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_new_Physician_Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Revising_Physician</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decDrLetterRequired</name>
        <label>decDrLetterRequired</label>
        <locationX>1910</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>assignNoDrLetterRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outcomeDrLetterYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>General_doctor_s_letter_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OOS_doctor_s_letter_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Revision_doctor_s_letter_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSearch_for_dr_letter_receipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decExplantFacilityKnown</name>
        <label>decExplantFacilityKnown</label>
        <locationX>2056</locationX>
        <locationY>1083</locationY>
        <defaultConnector>
            <targetReference>updAssetExplantPhysician</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outcomeYesExplantFacilityKnown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExplantFacilityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createExplantingPhysicianAcctContRelationship</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decExplantPhysicianResults</name>
        <label>decExplantPhysicianResults</label>
        <locationX>1809</locationX>
        <locationY>1248</locationY>
        <defaultConnector>
            <targetReference>updAssetExplantPhysician</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Asset Explant Physician</defaultConnectorLabel>
        <rules>
            <name>Create_New_Explant_Physician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Explanting_Physician_Matching_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_a_New_Physician_Record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Explanting_Physician</targetReference>
            </connector>
            <label>Create New Explant Physician</label>
        </rules>
        <rules>
            <name>No_Explant_Physician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Explanting_Physician_Matching_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Skip_Explanting_Physician</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decDrLetterRequired</targetReference>
            </connector>
            <label>No Explant Physician</label>
        </rules>
    </decisions>
    <decisions>
        <name>decHasExplantFacility</name>
        <label>decHasExplantFacility</label>
        <locationX>1045</locationX>
        <locationY>964</locationY>
        <defaultConnector>
            <targetReference>Explanting_Facility_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasExplantFacility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExplantFacilityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decHasExplantPhysician</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decHasExplantPhysician</name>
        <label>decHasExplantPhysician</label>
        <locationX>1538</locationX>
        <locationY>1037</locationY>
        <defaultConnector>
            <targetReference>screenExplanting_Physician_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasExplantPhysician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExplantPhysicianID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decDrLetterRequired</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsExplanted</name>
        <label>decIsExplanted</label>
        <locationX>1501</locationX>
        <locationY>957</locationY>
        <defaultConnector>
            <targetReference>decDrLetterRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAssetIsExplanted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explanted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decHasExplantFacility</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsRevisionReport</name>
        <label>decIsRevisionReport</label>
        <locationX>3204</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>decRunningUserIsMDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotRevision</defaultConnectorLabel>
        <rules>
            <name>YesIsRevisionReport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varComplaintRecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaRevisionComplaintRecordTypeID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createComplaintRelationshipRevisingPhysician</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decNoComplaintNeeded</name>
        <label>decNoComplaintNeeded</label>
        <locationX>1461</locationX>
        <locationY>837</locationY>
        <defaultConnector>
            <targetReference>decIsExplanted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Complaint</defaultConnectorLabel>
        <rules>
            <name>Event_Reason_Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OOSEvent_Reason</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choiceUpgrade</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Complaint_Required</targetReference>
            </connector>
            <label>Event Reason = Upgrade</label>
        </rules>
        <rules>
            <name>Event_Reason_ERI_and_more_than_1825_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OOSEvent_Reason</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choiceERI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDaysFromImplantToExplant</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1825.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Complaint_Required</targetReference>
            </connector>
            <label>Event Reason = ERI and &gt;=1825 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>decRunningUserIsMDR</name>
        <label>decRunningUserIsMDR</label>
        <locationX>3427</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>updCaseOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRunningUserIsMDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRunningUserRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BINC_Medical_Device_Reporting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCompleted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSearchForExplantFacility</name>
        <label>decSearchForExplantFacility</label>
        <locationX>1047</locationX>
        <locationY>1172</locationY>
        <defaultConnector>
            <targetReference>screenExplant_Facility_Search_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoSearchForExplantFacility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_don_t_know_the_Explanting_Facility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decHasExplantPhysician</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSearchForExplantPhysician</name>
        <label>decSearchForExplantPhysician</label>
        <locationX>1675</locationX>
        <locationY>1154</locationY>
        <defaultConnector>
            <targetReference>screenExplanting_Physician_Search_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoSearchForExplantPhysician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_don_t_know_the_Explanting_Physician</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decDrLetterRequired</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUpdateAssetExplantFacility</name>
        <label>decUpdateAssetExplantFacility</label>
        <locationX>1198</locationX>
        <locationY>1280</locationY>
        <defaultConnector>
            <targetReference>decHasExplantPhysician</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUpdateAssetExplantFacility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Explant_Facility_Matching_Records</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Explanting_Facility_is_not_listed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updAssetExplantFacility</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUserChoseBioContact</name>
        <label>decUserChoseBioContact</label>
        <locationX>2660</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>lupRunningUserContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUserChoseBioContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMainBioContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createMDRCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>dynchoiceMatchingDrLetterContacts</name>
        <dataType>String</dataType>
        <displayField>contact_summary_for_flow__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Physican_s_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaPhysicianContactRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varDrLetterRecID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDrLetterRecName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynchoiceMatchingMainBioContactRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Main_Bio_Contact_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaEmployeeContactRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varMainBioContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynExplantFacilityMatchingRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Explanting_Facility_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formPatientAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formulaPhysicianAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varExplantFacilityID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynExplantingPhysicianMatchingRecords</name>
        <dataType>String</dataType>
        <displayField>contact_summary_for_flow__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Explanting_Physician_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaPhysicianContactRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varExplantPhysicianID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynMatchingHospitalAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Hospital_Clinic_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formPatientAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formulaPhysicianAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varDrLetterAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynMatchingHospitalSAPAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Hospital_Clinic_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaSAPAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varDrLetterAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynRevisingFacilityAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Revising_Facility</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formPatientAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>formulaPhysicianAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varRevisingFacilityID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynRevisingFacilityOtherAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Revising_Facility</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaOtherAccountRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varRevisingFacilityID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dynRevisingPhysician</name>
        <dataType>String</dataType>
        <displayField>contact_summary_for_flow__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Revising_Physician</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaPhysicianContactRecordTypeID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varRevisingPhysicianID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistAssetStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistEventReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OOS_Reason__c</picklistField>
        <picklistObject>Asset</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistReportSource</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>report_source__c</picklistField>
        <picklistObject>complaint__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickMailingCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingCountryCode</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickMailingState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingStateCode</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>formPatientAccountRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.patient_account_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaCMComplaintRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.cardiomessenger_complaint_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaDrLetterRecFullName</name>
        <dataType>String</dataType>
        <expression>{!First_name} &amp; &quot; &quot; &amp; {!Last_Name} &amp; &quot; Physician Account&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaDrLetterYesNo</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!General_doctor_s_letter_required} = &quot;Yes&quot;,
True,

IF(
{!OOS_doctor_s_letter_required} = &quot;Yes&quot;,
True,

IF(
{!Revision_doctor_s_letter_required} = &quot;Yes&quot;,
True,

False)))</expression>
    </formulas>
    <formulas>
        <name>formulaEmployeeContactRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.employee_contact_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaExplantDrFullName</name>
        <dataType>String</dataType>
        <expression>{!Explant_Dr_First_Name} &amp; &quot; &quot; &amp; {!Explant_Dr_Last_Name} &amp; &quot; Physician Account&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaGeneralComplaintRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.general_complaint_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaMDRCaseRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.medical_device_reporting_case_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaMDRQueueID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.user_id__c.mdr_queue_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaOOSComplaintRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.oos_complaint_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaOtherAccountRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.other_account_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaPhysicianAccountRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.physician_account_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaPhysicianContactRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.physician_contact_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaProgrammerComplaintRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.programmer_complaint_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaRevisingPhysicianFullName</name>
        <dataType>String</dataType>
        <expression>{!Revising_Physician_First_Name} &amp; &quot; &quot; &amp; {!Revising_Physician_Last_Name} &amp; &quot; Physician Account&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaRevisionComplaintRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.revision_complaint_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaRPComplaintRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.rp_complaint_record_type_id__c}</expression>
    </formulas>
    <formulas>
        <name>formulaRunningUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>formulaSAPAccountRecordTypeID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.record_type_id__c.us_account_record_type_id__c}</expression>
    </formulas>
    <interviewLabel>New Complaint Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Product Event Report</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createComplaint</name>
        <label>createComplaint</label>
        <locationX>2864</locationX>
        <locationY>322</locationY>
        <assignRecordIdToReference>varComplaintID</assignRecordIdToReference>
        <connector>
            <targetReference>decComplaintRelationshipDrLetterNeeded</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varComplaintRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asset__c</field>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_of_event__c</field>
            <value>
                <elementReference>varDateOfEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>doctors_letter_required__c</field>
            <value>
                <elementReference>varDrLetterRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>event_description__c</field>
            <value>
                <elementReference>varEventDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>event_reason_global__c</field>
            <value>
                <elementReference>varEventReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>report_date__c</field>
            <value>
                <elementReference>varReportDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sap_company_code__c</field>
            <value>
                <stringValue>5500</stringValue>
            </value>
        </inputAssignments>
        <object>complaint__c</object>
    </recordCreates>
    <recordCreates>
        <name>createComplaintRelationshipDrLetter</name>
        <label>createComplaintRelationshipDrLetter</label>
        <locationX>3119</locationX>
        <locationY>460</locationY>
        <assignRecordIdToReference>varComplaintRelationshipDrLetterID</assignRecordIdToReference>
        <connector>
            <targetReference>decIsRevisionReport</targetReference>
        </connector>
        <inputAssignments>
            <field>complaint__c</field>
            <value>
                <elementReference>varComplaintID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contact__c</field>
            <value>
                <elementReference>varDrLetterRecID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_of_contact__c</field>
            <value>
                <stringValue>Dr Letter Recipient</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Relationships__c</object>
    </recordCreates>
    <recordCreates>
        <name>createComplaintRelationshipRevisingPhysician</name>
        <label>createComplaintRelationshipRevisingPhysician</label>
        <locationX>3319</locationX>
        <locationY>466</locationY>
        <assignRecordIdToReference>varComplaintRelationshipRevisingPhysicianID</assignRecordIdToReference>
        <connector>
            <targetReference>decRunningUserIsMDR</targetReference>
        </connector>
        <inputAssignments>
            <field>complaint__c</field>
            <value>
                <elementReference>varComplaintID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contact__c</field>
            <value>
                <elementReference>varRevisingPhysicianID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_of_contact__c</field>
            <value>
                <stringValue>Revising Physician</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Relationships__c</object>
    </recordCreates>
    <recordCreates>
        <name>createDrLetterRecAcctContRelationship</name>
        <label>createDrLetterRecAcctContRelationship</label>
        <locationX>2349</locationX>
        <locationY>653</locationY>
        <assignRecordIdToReference>varDrLetterRecAcctContRelationshipID</assignRecordIdToReference>
        <connector>
            <targetReference>decAreYouMainBioContact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varDrLetterAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varDrLetterRecID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>createDrLetterRecPhysicianAccount</name>
        <label>createDrLetterRecPhysicianAccount</label>
        <locationX>2467</locationX>
        <locationY>850</locationY>
        <assignRecordIdToReference>varDrLetterRecPhysicianAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>createNewPhysicianContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaDrLetterRecFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaPhysicianAccountRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sap_company_code__c</field>
            <value>
                <stringValue>5500</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>createExplantingPhysicianAccount</name>
        <label>createExplantingPhysicianAccount</label>
        <locationX>2196</locationX>
        <locationY>1172</locationY>
        <assignRecordIdToReference>varExplantingPhysicianPhysicianAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>createNewExplantingPhysicianContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaExplantDrFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaPhysicianAccountRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sap_company_code__c</field>
            <value>
                <stringValue>5500</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>createExplantingPhysicianAcctContRelationship</name>
        <label>createExplantingPhysicianAcctContRelationship</label>
        <locationX>2135</locationX>
        <locationY>960</locationY>
        <assignRecordIdToReference>varExplantingPhysicianAcctContRelationshipID</assignRecordIdToReference>
        <connector>
            <targetReference>updAssetExplantPhysician</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varExplantFacilityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varExplantPhysicianID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>createMDRCase</name>
        <label>createMDRCase</label>
        <locationX>2701</locationX>
        <locationY>323</locationY>
        <assignRecordIdToReference>varCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>createComplaint</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varMainBioContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaMDRCaseRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sap_company_code__c</field>
            <value>
                <stringValue>5500</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createNewAccount</name>
        <label>createNewAccount</label>
        <locationX>2466</locationX>
        <locationY>963</locationY>
        <assignRecordIdToReference>varDrLetterAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>createDrLetterRecPhysicianAccount</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>New_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>New_Account_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>New_Account_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>New_Account_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>DrLetterClinicState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>New_Account_Street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>createNewExplantingPhysicianContact</name>
        <label>createNewExplantingPhysicianContact</label>
        <locationX>2257</locationX>
        <locationY>1085</locationY>
        <assignRecordIdToReference>varExplantPhysicianID</assignRecordIdToReference>
        <connector>
            <targetReference>decExplantFacilityKnown</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varExplantingPhysicianPhysicianAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Explant_Dr_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Explant_Dr_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Explant_Dr_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountryCode</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Explant_Dr_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStateCode</field>
            <value>
                <elementReference>Explant_Dr_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Explant_Dr_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Explant_Dr_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npi__c</field>
            <value>
                <elementReference>Explant_Dr_NPI</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>createNewPhysicianContact</name>
        <label>createNewPhysicianContact</label>
        <locationX>2466</locationX>
        <locationY>753</locationY>
        <assignRecordIdToReference>varDrLetterRecID</assignRecordIdToReference>
        <connector>
            <targetReference>createDrLetterRecAcctContRelationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varDrLetterRecPhysicianAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Mailing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountryCode</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Mailing_Zip_Postal_Code_text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStateCode</field>
            <value>
                <elementReference>Mailing_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>DrLetterRecPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaPhysicianContactRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npi__c</field>
            <value>
                <elementReference>NPI</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>createNewRevisingPhysicianContact</name>
        <label>createNewRevisingPhysicianContact</label>
        <locationX>1560</locationX>
        <locationY>612</locationY>
        <assignRecordIdToReference>varRevisingPhysicianID</assignRecordIdToReference>
        <connector>
            <targetReference>createRevisingPhysicianAcctContRelationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRevisingPhysicianPhysicianAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Revising_Physician_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Revising_Physician_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Revising_Physician_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountryCode</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Revising_Physician_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStateCode</field>
            <value>
                <elementReference>Revising_Physician_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Revising_Physician_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Revising_Physician_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npi__c</field>
            <value>
                <elementReference>Revising_Physician_NPI</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>createRevisingFacilityAccount</name>
        <label>createRevisingFacilityAccount</label>
        <locationX>1144</locationX>
        <locationY>683</locationY>
        <assignRecordIdToReference>varRevisingFacilityID</assignRecordIdToReference>
        <connector>
            <targetReference>decCreateNewRevisingPhysician</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Revising_Facility_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Revising_Facility_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaOtherAccountRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Revising_Facility_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <stringValue>US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Revising_Facility_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>Revising_Facility_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Revising_Facility_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sap_company_code__c</field>
            <value>
                <stringValue>5500</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>createRevisingPhysicianAccount</name>
        <label>createRevisingPhysicianAccount</label>
        <locationX>1425</locationX>
        <locationY>648</locationY>
        <assignRecordIdToReference>varRevisingPhysicianPhysicianAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>createNewRevisingPhysicianContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaRevisingPhysicianFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formulaPhysicianAccountRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sap_company_code__c</field>
            <value>
                <stringValue>5500</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>createRevisingPhysicianAcctContRelationship</name>
        <label>createRevisingPhysicianAcctContRelationship</label>
        <locationX>1697</locationX>
        <locationY>577</locationY>
        <assignRecordIdToReference>varRevisingPhysicianAcctContRelationship</assignRecordIdToReference>
        <connector>
            <targetReference>assignRevisionComplaint</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varRevisingFacilityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varRevisingPhysicianID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordLookups>
        <name>lupAsset</name>
        <label>lupAsset</label>
        <locationX>134</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decAssetProductType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>varAssetExplantDate</assignToReference>
            <field>Explant_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExplantFacilityID</assignToReference>
            <field>explanting_facility__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExplantPhysicianID</assignToReference>
            <field>explanting_physician__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOOSDate</assignToReference>
            <field>oos_date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAssetProductType</assignToReference>
            <field>product_type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lupAssetDaysFromImplantToExplant</name>
        <label>lupAssetDaysFromImplantToExplant</label>
        <locationX>1300</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decNoComplaintNeeded</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>varDaysFromImplantToExplant</assignToReference>
            <field>Days_from_Implant_to_Explant__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lupRunningUserContact</name>
        <label>lupRunningUserContact</label>
        <locationX>2488</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createMDRCase</targetReference>
        </connector>
        <filters>
            <field>related_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaRunningUserID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varMainBioContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updAssetExplantFacility</name>
        <label>updAssetExplantFacility</label>
        <locationX>1369</locationX>
        <locationY>1281</locationY>
        <connector>
            <targetReference>decHasExplantPhysician</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>explanting_facility__c</field>
            <value>
                <elementReference>varExplantFacilityID</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updAssetExplantPhysician</name>
        <label>updAssetExplantPhysician</label>
        <locationX>1983</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>decDrLetterRequired</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>explanting_physician__c</field>
            <value>
                <elementReference>varExplantPhysicianID</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updAssetFieldsCM</name>
        <label>updAssetFields</label>
        <locationX>1436</locationX>
        <locationY>136</locationY>
        <connector>
            <targetReference>decAreYouMainBioContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OOS_Reason__c</field>
            <value>
                <elementReference>varEventReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_additional_information__c</field>
            <value>
                <elementReference>varEventDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updAssetFieldsGeneral</name>
        <label>updAssetFields</label>
        <locationX>1444</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>decDrLetterRequired</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OOS_Reason__c</field>
            <value>
                <elementReference>varEventReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_additional_information__c</field>
            <value>
                <elementReference>varEventDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updAssetFieldsOOS</name>
        <label>updAssetFields</label>
        <locationX>1151</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>lupAssetDaysFromImplantToExplant</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Explant_Date__c</field>
            <value>
                <elementReference>OOS_Explant_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OOS_Reason__c</field>
            <value>
                <elementReference>varEventReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varAssetStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>explant_date_unknown__c</field>
            <value>
                <elementReference>Explant_Date_Unknown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_additional_information__c</field>
            <value>
                <elementReference>varEventDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_date__c</field>
            <value>
                <elementReference>Out_of_Service_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updAssetFieldsProgrammer</name>
        <label>updAssetFields</label>
        <locationX>1443</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>decAreYouMainBioContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OOS_Reason__c</field>
            <value>
                <elementReference>varEventReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_additional_information__c</field>
            <value>
                <elementReference>varEventDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updAssetFieldsRevision</name>
        <label>updAssetFields</label>
        <locationX>1453</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>decDrLetterRequired</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OOS_Reason__c</field>
            <value>
                <elementReference>varEventReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>oos_additional_information__c</field>
            <value>
                <elementReference>varEventDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>revising_facility__c</field>
            <value>
                <elementReference>varRevisingFacilityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>revising_physician__c</field>
            <value>
                <elementReference>varRevisingPhysicianID</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>updCaseOwner</name>
        <label>updCaseOwner</label>
        <locationX>3516</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>updComplaintOwner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>formulaMDRQueueID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updComplaintOwner</name>
        <label>updComplaintOwner</label>
        <locationX>3649</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>screenCompleted</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varComplaintID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>formulaMDRQueueID</elementReference>
            </value>
        </inputAssignments>
        <object>complaint__c</object>
    </recordUpdates>
    <screens>
        <name>Create_New_Explanting_Physician</name>
        <label>Create New Explanting Physician</label>
        <locationX>2124</locationX>
        <locationY>1250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createExplantingPhysicianAccount</targetReference>
        </connector>
        <fields>
            <name>NewExplantPhysicianText</name>
            <fieldText>Please enter the contact details for the Explanting Physician:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Explant_Dr_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_NPI</name>
            <dataType>String</dataType>
            <fieldText>NPI #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_State</name>
            <choiceReferences>Alabama</choiceReferences>
            <choiceReferences>Alaska</choiceReferences>
            <choiceReferences>Arizona</choiceReferences>
            <choiceReferences>Arkansas</choiceReferences>
            <choiceReferences>California</choiceReferences>
            <choiceReferences>Colorado</choiceReferences>
            <choiceReferences>Connecticut</choiceReferences>
            <choiceReferences>Delaware</choiceReferences>
            <choiceReferences>District_of_Columbia</choiceReferences>
            <choiceReferences>Florida</choiceReferences>
            <choiceReferences>Georgia</choiceReferences>
            <choiceReferences>Hawaii</choiceReferences>
            <choiceReferences>Idaho</choiceReferences>
            <choiceReferences>Illinois</choiceReferences>
            <choiceReferences>Indiana</choiceReferences>
            <choiceReferences>Iowa</choiceReferences>
            <choiceReferences>Kansas</choiceReferences>
            <choiceReferences>Kentucky</choiceReferences>
            <choiceReferences>Louisiana</choiceReferences>
            <choiceReferences>Maine</choiceReferences>
            <choiceReferences>Maryland</choiceReferences>
            <choiceReferences>Massachusetts</choiceReferences>
            <choiceReferences>Michigan</choiceReferences>
            <choiceReferences>Minnesota</choiceReferences>
            <choiceReferences>Mississippi</choiceReferences>
            <choiceReferences>Missouri</choiceReferences>
            <choiceReferences>Montana</choiceReferences>
            <choiceReferences>Nebraska</choiceReferences>
            <choiceReferences>Nevada</choiceReferences>
            <choiceReferences>New_Hampshire</choiceReferences>
            <choiceReferences>New_Jersey</choiceReferences>
            <choiceReferences>New_Mexico</choiceReferences>
            <choiceReferences>New_York</choiceReferences>
            <choiceReferences>North_Carolina</choiceReferences>
            <choiceReferences>North_Dakota</choiceReferences>
            <choiceReferences>Ohio</choiceReferences>
            <choiceReferences>Oklahoma</choiceReferences>
            <choiceReferences>Oregon</choiceReferences>
            <choiceReferences>Pennsylvania</choiceReferences>
            <choiceReferences>Rhode_Island</choiceReferences>
            <choiceReferences>South_Carolina</choiceReferences>
            <choiceReferences>South_Dakota</choiceReferences>
            <choiceReferences>Tennessee</choiceReferences>
            <choiceReferences>Texas</choiceReferences>
            <choiceReferences>Utah</choiceReferences>
            <choiceReferences>Vermont</choiceReferences>
            <choiceReferences>Virginia</choiceReferences>
            <choiceReferences>Washington</choiceReferences>
            <choiceReferences>West_Virginia</choiceReferences>
            <choiceReferences>Wisconsin</choiceReferences>
            <choiceReferences>Wyoming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Explant_Dr_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Revising_Physician</name>
        <label>Create New Revising Physician</label>
        <locationX>1289</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createRevisingPhysicianAccount</targetReference>
        </connector>
        <fields>
            <name>NewRevisingPhysicianText</name>
            <fieldText>Please enter the contact information for the physician who performed the revision:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Revising_Physician_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revising_Physician_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revising_Physician_NPI</name>
            <dataType>String</dataType>
            <fieldText>NPI #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Revising_Physician_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revising_Physician_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Revising_Physician_Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revising_Physician_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revising_Physician_State</name>
            <choiceReferences>Alabama</choiceReferences>
            <choiceReferences>Alaska</choiceReferences>
            <choiceReferences>Arizona</choiceReferences>
            <choiceReferences>Arkansas</choiceReferences>
            <choiceReferences>California</choiceReferences>
            <choiceReferences>Colorado</choiceReferences>
            <choiceReferences>Connecticut</choiceReferences>
            <choiceReferences>Delaware</choiceReferences>
            <choiceReferences>District_of_Columbia</choiceReferences>
            <choiceReferences>Florida</choiceReferences>
            <choiceReferences>Georgia</choiceReferences>
            <choiceReferences>Hawaii</choiceReferences>
            <choiceReferences>Idaho</choiceReferences>
            <choiceReferences>Illinois</choiceReferences>
            <choiceReferences>Indiana</choiceReferences>
            <choiceReferences>Iowa</choiceReferences>
            <choiceReferences>Kansas</choiceReferences>
            <choiceReferences>Kentucky</choiceReferences>
            <choiceReferences>Louisiana</choiceReferences>
            <choiceReferences>Maine</choiceReferences>
            <choiceReferences>Maryland</choiceReferences>
            <choiceReferences>Massachusetts</choiceReferences>
            <choiceReferences>Michigan</choiceReferences>
            <choiceReferences>Minnesota</choiceReferences>
            <choiceReferences>Mississippi</choiceReferences>
            <choiceReferences>Missouri</choiceReferences>
            <choiceReferences>Montana</choiceReferences>
            <choiceReferences>Nebraska</choiceReferences>
            <choiceReferences>Nevada</choiceReferences>
            <choiceReferences>New_Hampshire</choiceReferences>
            <choiceReferences>New_Jersey</choiceReferences>
            <choiceReferences>New_Mexico</choiceReferences>
            <choiceReferences>New_York</choiceReferences>
            <choiceReferences>North_Carolina</choiceReferences>
            <choiceReferences>North_Dakota</choiceReferences>
            <choiceReferences>Ohio</choiceReferences>
            <choiceReferences>Oklahoma</choiceReferences>
            <choiceReferences>Oregon</choiceReferences>
            <choiceReferences>Pennsylvania</choiceReferences>
            <choiceReferences>Rhode_Island</choiceReferences>
            <choiceReferences>South_Carolina</choiceReferences>
            <choiceReferences>South_Dakota</choiceReferences>
            <choiceReferences>Tennessee</choiceReferences>
            <choiceReferences>Texas</choiceReferences>
            <choiceReferences>Utah</choiceReferences>
            <choiceReferences>Vermont</choiceReferences>
            <choiceReferences>Virginia</choiceReferences>
            <choiceReferences>Washington</choiceReferences>
            <choiceReferences>West_Virginia</choiceReferences>
            <choiceReferences>Wisconsin</choiceReferences>
            <choiceReferences>Wyoming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Revising_Physician_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Explanting_Facility_Search</name>
        <label>Explanting Facility Search</label>
        <locationX>1042</locationX>
        <locationY>1067</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decSearchForExplantFacility</targetReference>
        </connector>
        <fields>
            <name>ExplantingFacilitySearchText</name>
            <fieldText>Please enter the name of the Explanting Facility below to search for a match.  If you don&apos;t know the Explanting Facility, then check the box to skip the search.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Explanting_Facility_Name</name>
            <dataType>String</dataType>
            <fieldText>Explanting Facility Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>I_don_t_know_the_Explanting_Facility</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&apos;t know the Explanting Facility</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Matching_Hospitals_Clinics</name>
        <label>Matching Hospitals/Clinics</label>
        <locationX>2302</locationX>
        <locationY>751</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decCreateNewAccount</targetReference>
        </connector>
        <fields>
            <name>Matching_Hospitals_Clinics_Options</name>
            <choiceReferences>dynMatchingHospitalAccount</choiceReferences>
            <choiceReferences>choiceCreate_New_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Hospitals/Clinics</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Physician_Contact</name>
        <label>New Physician Contact</label>
        <locationX>2164</locationX>
        <locationY>751</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_Hospitals_Clinics</targetReference>
        </connector>
        <fields>
            <name>First_name</name>
            <dataType>String</dataType>
            <fieldText>First name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NPI</name>
            <dataType>String</dataType>
            <fieldText>NPI #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DrLetterRecPhone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_Street</name>
            <dataType>String</dataType>
            <fieldText>Mailing Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_City</name>
            <dataType>String</dataType>
            <fieldText>Mailing City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_State</name>
            <choiceReferences>Alabama</choiceReferences>
            <choiceReferences>Alaska</choiceReferences>
            <choiceReferences>Arizona</choiceReferences>
            <choiceReferences>Arkansas</choiceReferences>
            <choiceReferences>California</choiceReferences>
            <choiceReferences>Colorado</choiceReferences>
            <choiceReferences>Connecticut</choiceReferences>
            <choiceReferences>Delaware</choiceReferences>
            <choiceReferences>District_of_Columbia</choiceReferences>
            <choiceReferences>Florida</choiceReferences>
            <choiceReferences>Georgia</choiceReferences>
            <choiceReferences>Hawaii</choiceReferences>
            <choiceReferences>Idaho</choiceReferences>
            <choiceReferences>Illinois</choiceReferences>
            <choiceReferences>Indiana</choiceReferences>
            <choiceReferences>Iowa</choiceReferences>
            <choiceReferences>Kansas</choiceReferences>
            <choiceReferences>Kentucky</choiceReferences>
            <choiceReferences>Louisiana</choiceReferences>
            <choiceReferences>Maine</choiceReferences>
            <choiceReferences>Maryland</choiceReferences>
            <choiceReferences>Massachusetts</choiceReferences>
            <choiceReferences>Michigan</choiceReferences>
            <choiceReferences>Minnesota</choiceReferences>
            <choiceReferences>Mississippi</choiceReferences>
            <choiceReferences>Missouri</choiceReferences>
            <choiceReferences>Montana</choiceReferences>
            <choiceReferences>Nebraska</choiceReferences>
            <choiceReferences>Nevada</choiceReferences>
            <choiceReferences>New_Hampshire</choiceReferences>
            <choiceReferences>New_Jersey</choiceReferences>
            <choiceReferences>New_Mexico</choiceReferences>
            <choiceReferences>New_York</choiceReferences>
            <choiceReferences>North_Carolina</choiceReferences>
            <choiceReferences>North_Dakota</choiceReferences>
            <choiceReferences>Ohio</choiceReferences>
            <choiceReferences>Oklahoma</choiceReferences>
            <choiceReferences>Oregon</choiceReferences>
            <choiceReferences>Pennsylvania</choiceReferences>
            <choiceReferences>Rhode_Island</choiceReferences>
            <choiceReferences>South_Carolina</choiceReferences>
            <choiceReferences>South_Dakota</choiceReferences>
            <choiceReferences>Tennessee</choiceReferences>
            <choiceReferences>Texas</choiceReferences>
            <choiceReferences>Utah</choiceReferences>
            <choiceReferences>Vermont</choiceReferences>
            <choiceReferences>Virginia</choiceReferences>
            <choiceReferences>Washington</choiceReferences>
            <choiceReferences>West_Virginia</choiceReferences>
            <choiceReferences>Wisconsin</choiceReferences>
            <choiceReferences>Wyoming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mailing State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_Zip_Postal_Code_text</name>
            <dataType>String</dataType>
            <fieldText>Mailing Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hospital_Clinic_Name</name>
            <dataType>String</dataType>
            <fieldText>Hospital/Clinic Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Revising_Facility_Account</name>
        <label>New Revising Facility Account</label>
        <locationX>1010</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createRevisingFacilityAccount</targetReference>
        </connector>
        <fields>
            <name>NewRevisingFacilityAccountText</name>
            <fieldText>Please enter the contact information for the facility where the revision took place:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Revising_Facility_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revising_Facility_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Revising_Facility_Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revising_Facility_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revising_Facility_State</name>
            <choiceReferences>Alabama</choiceReferences>
            <choiceReferences>Alaska</choiceReferences>
            <choiceReferences>Arizona</choiceReferences>
            <choiceReferences>Arkansas</choiceReferences>
            <choiceReferences>California</choiceReferences>
            <choiceReferences>Colorado</choiceReferences>
            <choiceReferences>Connecticut</choiceReferences>
            <choiceReferences>Delaware</choiceReferences>
            <choiceReferences>District_of_Columbia</choiceReferences>
            <choiceReferences>Florida</choiceReferences>
            <choiceReferences>Georgia</choiceReferences>
            <choiceReferences>Hawaii</choiceReferences>
            <choiceReferences>Idaho</choiceReferences>
            <choiceReferences>Illinois</choiceReferences>
            <choiceReferences>Indiana</choiceReferences>
            <choiceReferences>Iowa</choiceReferences>
            <choiceReferences>Kansas</choiceReferences>
            <choiceReferences>Kentucky</choiceReferences>
            <choiceReferences>Louisiana</choiceReferences>
            <choiceReferences>Maine</choiceReferences>
            <choiceReferences>Maryland</choiceReferences>
            <choiceReferences>Massachusetts</choiceReferences>
            <choiceReferences>Michigan</choiceReferences>
            <choiceReferences>Minnesota</choiceReferences>
            <choiceReferences>Mississippi</choiceReferences>
            <choiceReferences>Missouri</choiceReferences>
            <choiceReferences>Montana</choiceReferences>
            <choiceReferences>Nebraska</choiceReferences>
            <choiceReferences>Nevada</choiceReferences>
            <choiceReferences>New_Hampshire</choiceReferences>
            <choiceReferences>New_Jersey</choiceReferences>
            <choiceReferences>New_Mexico</choiceReferences>
            <choiceReferences>New_York</choiceReferences>
            <choiceReferences>North_Carolina</choiceReferences>
            <choiceReferences>North_Dakota</choiceReferences>
            <choiceReferences>Ohio</choiceReferences>
            <choiceReferences>Oklahoma</choiceReferences>
            <choiceReferences>Oregon</choiceReferences>
            <choiceReferences>Pennsylvania</choiceReferences>
            <choiceReferences>Rhode_Island</choiceReferences>
            <choiceReferences>South_Carolina</choiceReferences>
            <choiceReferences>Tennessee</choiceReferences>
            <choiceReferences>Texas</choiceReferences>
            <choiceReferences>Utah</choiceReferences>
            <choiceReferences>Vermont</choiceReferences>
            <choiceReferences>Virginia</choiceReferences>
            <choiceReferences>Washington</choiceReferences>
            <choiceReferences>West_Virginia</choiceReferences>
            <choiceReferences>Wisconsin</choiceReferences>
            <choiceReferences>Wyoming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Revising_Facility_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Complaint_Required</name>
        <label>No Complaint Required</label>
        <locationX>1582</locationX>
        <locationY>718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoComplaintRequiredText</name>
            <fieldText>Click Finish to return to the Asset.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenComplaint_Type_Accessory</name>
        <label>Report Type (Accessory)</label>
        <locationX>379</locationX>
        <locationY>272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decComplaintTypeAccessory</targetReference>
        </connector>
        <fields>
            <name>ChooseComplaintTypeAccessory</name>
            <fieldText>Please select the type of Product Event Report you&apos;d like to create for the Asset with Serial Number {!varAssetSerialNumber}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complaint_Type_Choice_Accessory</name>
            <choiceReferences>choiceGeneral_Complaint</choiceReferences>
            <choiceReferences>choiceRevision_Report</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Report Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenComplaint_Type_CM</name>
        <label>Report Type (CM)</label>
        <locationX>380</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decComplaintTypeCM</targetReference>
        </connector>
        <fields>
            <name>ChooseComplaintTypeCM</name>
            <fieldText>Please select the type of Product Event Report you&apos;d like to create for the Asset with Serial Number {!varAssetSerialNumber}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complaint_Type_Choice_CardioMessenger</name>
            <choiceReferences>choiceCardio_Messenger</choiceReferences>
            <choiceReferences>choiceGeneral_Complaint</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Report Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenComplaint_Type_Most_types</name>
        <label>Report Type (Most types)</label>
        <locationX>364</locationX>
        <locationY>675</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decComplaintTypeMostTypes</targetReference>
        </connector>
        <fields>
            <name>ChooseComplaintTypeMostTypes</name>
            <fieldText>Please select the type of Product Event Report you&apos;d like to create for the Asset with Serial Number {!varAssetSerialNumber}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complaint_Type_Choice_MostTypes</name>
            <choiceReferences>choiceOut_of_Service_OOS</choiceReferences>
            <choiceReferences>choiceRevision_Report</choiceReferences>
            <choiceReferences>choiceGeneral_Complaint</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceOut_of_Service_OOS</defaultSelectedChoiceReference>
            <fieldText>Report/Event Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenCompleted</name>
        <label>Completed</label>
        <locationX>3677</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndText</name>
            <fieldText>A new Product Event Report has been created.  Please click Finish to return to the Asset.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenContact_Administrator</name>
        <label>Contact Administrator</label>
        <locationX>143</locationX>
        <locationY>538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactAdmin</name>
            <fieldText>This Asset does not have a Product Type.  In order to create a Product Event Report, the Product Type needs to be specified.  Please contact your system administrator (emily.knox@biotronik.com or jason.monroe@biotronik.com) for questions or assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenContact_Administrator2</name>
        <label>Contact Administrator</label>
        <locationX>759</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactAdmin2</name>
            <fieldText>It looks like there is a problem creating a new Product Event Report.  Please contact your system administrator (emily.knox@biotronik.com or jason.monroe@biotronik.com) and provide this error message along with the serial number ({!varAssetSerialNumber}).</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenCreate_New_Account</name>
        <label>Create New Account</label>
        <locationX>2308</locationX>
        <locationY>958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createNewAccount</targetReference>
        </connector>
        <fields>
            <name>New_Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Account_Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Account_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DrLetterClinicState</name>
            <choiceReferences>Alabama</choiceReferences>
            <choiceReferences>Alaska</choiceReferences>
            <choiceReferences>Arizona</choiceReferences>
            <choiceReferences>Arkansas</choiceReferences>
            <choiceReferences>California</choiceReferences>
            <choiceReferences>Colorado</choiceReferences>
            <choiceReferences>Connecticut</choiceReferences>
            <choiceReferences>Delaware</choiceReferences>
            <choiceReferences>District_of_Columbia</choiceReferences>
            <choiceReferences>Florida</choiceReferences>
            <choiceReferences>Georgia</choiceReferences>
            <choiceReferences>Hawaii</choiceReferences>
            <choiceReferences>Idaho</choiceReferences>
            <choiceReferences>Illinois</choiceReferences>
            <choiceReferences>Indiana</choiceReferences>
            <choiceReferences>Iowa</choiceReferences>
            <choiceReferences>Kansas</choiceReferences>
            <choiceReferences>Kentucky</choiceReferences>
            <choiceReferences>Louisiana</choiceReferences>
            <choiceReferences>Maine</choiceReferences>
            <choiceReferences>Maryland</choiceReferences>
            <choiceReferences>Massachusetts</choiceReferences>
            <choiceReferences>Michigan</choiceReferences>
            <choiceReferences>Minnesota</choiceReferences>
            <choiceReferences>Mississippi</choiceReferences>
            <choiceReferences>Missouri</choiceReferences>
            <choiceReferences>Montana</choiceReferences>
            <choiceReferences>Nebraska</choiceReferences>
            <choiceReferences>Nevada</choiceReferences>
            <choiceReferences>New_Hampshire</choiceReferences>
            <choiceReferences>New_Jersey</choiceReferences>
            <choiceReferences>New_York</choiceReferences>
            <choiceReferences>North_Carolina</choiceReferences>
            <choiceReferences>North_Dakota</choiceReferences>
            <choiceReferences>Ohio</choiceReferences>
            <choiceReferences>Oklahoma</choiceReferences>
            <choiceReferences>Oregon</choiceReferences>
            <choiceReferences>Pennsylvania</choiceReferences>
            <choiceReferences>Rhode_Island</choiceReferences>
            <choiceReferences>South_Carolina</choiceReferences>
            <choiceReferences>South_Dakota</choiceReferences>
            <choiceReferences>Tennessee</choiceReferences>
            <choiceReferences>Texas</choiceReferences>
            <choiceReferences>Utah</choiceReferences>
            <choiceReferences>Vermont</choiceReferences>
            <choiceReferences>Virginia</choiceReferences>
            <choiceReferences>Washington</choiceReferences>
            <choiceReferences>West_Virginia</choiceReferences>
            <choiceReferences>Wisconsin</choiceReferences>
            <choiceReferences>Wyoming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Account_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Account_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenCreateCMComplaint</name>
        <label>CreateCMComplaint</label>
        <locationX>1107</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignCMComplaint</targetReference>
        </connector>
        <fields>
            <name>CM_Report_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Report Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Report Date must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!CM_Report_Date} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CM_Date_of_Event</name>
            <dataType>Date</dataType>
            <fieldText>Date of Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Date of Event must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!CM_Date_of_Event} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CM_Event_Reason</name>
            <choiceReferences>choiceLandline_Issue</choiceReferences>
            <choiceReferences>choicePower_Issue</choiceReferences>
            <choiceReferences>choiceStorm_Damage</choiceReferences>
            <choiceReferences>choiceTelephone_Complaint</choiceReferences>
            <choiceReferences>choiceUnable_to_Transmit</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Reason</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CM_Event_Description</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CM_main_Biotronik_contact</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceYes</defaultSelectedChoiceReference>
            <fieldText>Are you the main Biotronik contact for questions regarding this Product Event Report?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenCreateGeneralComplaint</name>
        <label>CreateGeneralComplaint</label>
        <locationX>1110</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignGeneralComplaint</targetReference>
        </connector>
        <fields>
            <name>General_Report_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Report Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Report Date must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!General_Report_Date} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>General_Date_of_Event</name>
            <dataType>Date</dataType>
            <fieldText>Date of Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Date of Event must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!General_Date_of_Event} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>GeneralEvent_Reason</name>
            <choiceReferences>picklistEventReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Reason</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>General_Event_Description</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>General_Report_Source</name>
            <choiceReferences>picklistReportSource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Report Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>General_doctor_s_letter_required</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is a doctor&apos;s letter required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>General_main_Biotronik_contact</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceYes</defaultSelectedChoiceReference>
            <fieldText>Are you the main Biotronik contact for questions regarding this Product Event Report?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenCreateOOSComplaint</name>
        <label>CreateOOSComplaint</label>
        <locationX>815</locationX>
        <locationY>837</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignOOSComplaint</targetReference>
        </connector>
        <fields>
            <name>ReportDateText</name>
            <fieldText>Please enter the following dates:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OOS_Report_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Report Date (the date the MDR team is alerted to the OOS report)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Report Date must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!OOS_Report_Date} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OOS_Date_of_Event</name>
            <dataType>Date</dataType>
            <fieldText>Date of Event (the date the event occured)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Date of Event must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!OOS_Date_of_Event} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Out_of_Service_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varOOSDate</elementReference>
            </defaultValue>
            <fieldText>Out of Service Date (the date the product was taken out of service)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Out of Service Date must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!Out_of_Service_Date} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>StatusText</name>
            <fieldText>Please update the Device/Lead&apos;s Status if necessary:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Device_Lead_Status</name>
            <choiceReferences>choicevarAssetStatus</choiceReferences>
            <choiceReferences>picklistAssetStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choicevarAssetStatus</defaultSelectedChoiceReference>
            <fieldText>Device/Lead Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExplantDateText</name>
            <fieldText>If the Device/Lead is Explanted, please either enter an Explant Date or check the box Explant Date Unknown.  The Explant Date may or may not be the same as the Out of Service Date.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OOS_Explant_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varAssetExplantDate</elementReference>
            </defaultValue>
            <fieldText>Explant Date (the date the product was explanted from the patient)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>1. If the status is Explanted, please enter an Explant Date OR check Explant Date Unknown.
2. Always make sure the Explant Date is equal to or after the Out of Service Date.  
3. Also ensure the Explant date is today&apos;s date or in the past.</errorMessage>
                <formulaExpression>AND(

OR(
AND(
{!Device_Lead_Status} = &quot;Explanted&quot;,
{!Explant_Date_Unknown} = False,
!ISBLANK({!OOS_Explant_Date})),
AND(
{!Device_Lead_Status} = &quot;Explanted&quot;,
{!Explant_Date_Unknown} = True,
ISBLANK({!OOS_Explant_Date})),
AND(
{!Device_Lead_Status} != &quot;Explanted&quot;,
{!Explant_Date_Unknown} = False,
ISBLANK({!OOS_Explant_Date}))),

OR(
ISBLANK({!OOS_Explant_Date}),
{!OOS_Explant_Date} &gt;= {!Out_of_Service_Date}),

OR(
ISBLANK({!OOS_Explant_Date}),
{!OOS_Explant_Date} &lt;= {!$Flow.CurrentDate}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Explant_Date_Unknown</name>
            <dataType>Boolean</dataType>
            <fieldText>Explant Date Unknown</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EventReasonText</name>
            <fieldText>Please select an Event Reason and enter a brief description:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OOSEvent_Reason</name>
            <choiceReferences>choiceDislodgement</choiceReferences>
            <choiceReferences>choiceERI</choiceReferences>
            <choiceReferences>choiceErosion</choiceReferences>
            <choiceReferences>choiceInfection</choiceReferences>
            <choiceReferences>choicePatient_Death</choiceReferences>
            <choiceReferences>choiceUpgrade</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Reason</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OOS_Event_Description</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DrLetterText</name>
            <fieldText>Please also tell the MDR team if a doctor&apos;s letter is required and who the main Biotronik employee is that received the information:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OOS_doctor_s_letter_required</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is a doctor&apos;s letter required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OOS_main_Biotronik_contact</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceYes</defaultSelectedChoiceReference>
            <fieldText>Are you the main Biotronik contact for questions regarding this Product Event Report?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenCreateProgrammerComplaint</name>
        <label>CreateProgrammerComplaint</label>
        <locationX>1107</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignProgrammerComplaint</targetReference>
        </connector>
        <fields>
            <name>Programmer_Report_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Report Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Report Date must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!Programmer_Report_Date} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Programmer_Date_of_Event</name>
            <dataType>Date</dataType>
            <fieldText>Date of Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Date of Event must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!Programmer_Date_of_Event} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ProgrammerEvent_Reason</name>
            <choiceReferences>choiceError_Message</choiceReferences>
            <choiceReferences>choicePower_Issue</choiceReferences>
            <choiceReferences>choicePrinter</choiceReferences>
            <choiceReferences>choiceScreen_Freeze</choiceReferences>
            <choiceReferences>choiceStart_Up</choiceReferences>
            <choiceReferences>choiceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Programmer_Event_Description</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Programmer_main_Biotronik_contact</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceYes</defaultSelectedChoiceReference>
            <fieldText>Are you the main Biotronik contact for questions regarding this Product Event Report?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenCreateRevisionComplaint</name>
        <label>CreateRevisionComplaint</label>
        <locationX>1106</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenRevising_Facility_Physician</targetReference>
        </connector>
        <fields>
            <name>Revision_Report_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Report Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Report Date must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!Revision_Report_Date} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Revision_Date_of_Event</name>
            <dataType>Date</dataType>
            <fieldText>Date of Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The Date of Event must be before or equal to today&apos;s date.</errorMessage>
                <formulaExpression>{!Revision_Date_of_Event} &lt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RevisionEvent_Reason</name>
            <choiceReferences>choiceLead_Reposition</choiceReferences>
            <choiceReferences>choicePocket_Revision</choiceReferences>
            <choiceReferences>choiceBoth</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Revision_Event_Description</name>
            <fieldText>Event Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revising_Physician</name>
            <dataType>String</dataType>
            <fieldText>Revising Physician</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revising_Facility</name>
            <dataType>String</dataType>
            <fieldText>Revising Facility</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revision_doctor_s_letter_required</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is a doctor&apos;s letter required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revision_main_Biotronik_contact</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceYes</defaultSelectedChoiceReference>
            <fieldText>Are you the main Biotronik contact for questions regarding this Product Event Report?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenExplant_Facility_Search_Results</name>
        <label>Explant Facility Search Results</label>
        <locationX>1049</locationX>
        <locationY>1277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decUpdateAssetExplantFacility</targetReference>
        </connector>
        <fields>
            <name>ExplantFacilityResultsText</name>
            <fieldText>Please select an Account from the following list.  If you don&apos;t see the right Account, please either go back and try different search criteria or choose &quot;Explanting Facility is not listed&quot;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Explant_Facility_Matching_Records</name>
            <choiceReferences>dynExplantFacilityMatchingRecords</choiceReferences>
            <choiceReferences>Explanting_Facility_is_not_listed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Records</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenExplanting_Physician_Search</name>
        <label>Explanting Physician Search</label>
        <locationX>1540</locationX>
        <locationY>1152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decSearchForExplantPhysician</targetReference>
        </connector>
        <fields>
            <name>ExplantingPhysicianSearchText</name>
            <fieldText>Please enter the name of the Explanting Physician below to search for a match.  If you don&apos;t know the Explanting Physician, then check the box to skip the search.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Explanting_Physician_Name</name>
            <dataType>String</dataType>
            <fieldText>Explanting Physician Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>I_don_t_know_the_Explanting_Physician</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&apos;t know the Explanting Physician</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenExplanting_Physician_Search_Results</name>
        <label>Explanting Physician Search Results</label>
        <locationX>1676</locationX>
        <locationY>1245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decExplantPhysicianResults</targetReference>
        </connector>
        <fields>
            <name>ExplantingPhysicianResultsText</name>
            <fieldText>Please select a physician from the following list.  If you don&apos;t see the right physician, please either go back and try different search criteria, choose &quot;I don&apos;t know the Explanting Physician&quot; or choose &quot;Create a New Physician Record&quot; to add a new doctor.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Explanting_Physician_Matching_Records</name>
            <choiceReferences>dynExplantingPhysicianMatchingRecords</choiceReferences>
            <choiceReferences>Skip_Explanting_Physician</choiceReferences>
            <choiceReferences>Create_a_New_Physician_Record</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Records</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenMatching_Main_Bio_Contact_Records</name>
        <label>Matching Contact Records</label>
        <locationX>2520</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decUserChoseBioContact</targetReference>
        </connector>
        <fields>
            <name>screenSelectMatchingPrimaryBioContact</name>
            <fieldText>Please select from the following list of Biotronik employees.  If none of them are the person you would like to list as the primary Biotronik contact, please click Previous and try different search criteria.  To skip this step, click Next.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Matching_Contact_Records</name>
            <choiceReferences>dynchoiceMatchingMainBioContactRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Records</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenMatching_Physician_Records</name>
        <label>Matching Physician Records</label>
        <locationX>2033</locationX>
        <locationY>644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decCreateNewDrLetterRec</targetReference>
        </connector>
        <fields>
            <name>screenChooseMatchingDrLetterRec</name>
            <fieldText>Please select from the following list of doctors.  If none of them are the doctor you are searching for, click Previous and try different search criteria, select &quot;I don&apos;t know who should receive the doctor&apos;s letter&quot; or select &quot;Create new Physician Contact&quot;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Physician_Matching_Records</name>
            <choiceReferences>dynchoiceMatchingDrLetterContacts</choiceReferences>
            <choiceReferences>Dr_Letter_Rec_Skip_this_step</choiceReferences>
            <choiceReferences>Create_new_Physician_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Records</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenRevising_Facility_Physician</name>
        <label>Revising Facility &amp; Physician</label>
        <locationX>1105</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decCreateNewRevisingFacility</targetReference>
        </connector>
        <fields>
            <name>RevisingFaciilityText</name>
            <fieldText>Please choose the facility where the revision took place from the following list.  If the facility is not listed, choose Create New Account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Revising_Facility_Search_Results</name>
            <choiceReferences>dynRevisingFacilityAccount</choiceReferences>
            <choiceReferences>choiceCreate_New_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Revising Facility</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RevisingPhysicianText</name>
            <fieldText>Please choose the physician who performed the revision from the following list.  If the physician is not listed, choose Create New Physician Contact.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Revising_Physician_Search_Results</name>
            <choiceReferences>dynRevisingPhysician</choiceReferences>
            <choiceReferences>Create_new_Physician_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Revising Physician</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSearch_for_dr_letter_receipient</name>
        <label>Search for dr letter receipient</label>
        <locationX>2034</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenMatching_Physician_Records</targetReference>
        </connector>
        <fields>
            <name>textEnterDrLetterPhysician</name>
            <fieldText>Enter the name of the physician who should receive the doctor&apos;s letter.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Physican_s_Name</name>
            <dataType>String</dataType>
            <fieldText>Physican&apos;s Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSearch_for_main_bio_contact</name>
        <label>Search for main BIO contact</label>
        <locationX>2391</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenMatching_Main_Bio_Contact_Records</targetReference>
        </connector>
        <fields>
            <name>textEnterDrLetterPhysician_0</name>
            <fieldText>Enter the name of the Biotronik employee who should be listed as the main contact for this Product Event Report.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Main_Bio_Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>lupAsset</startElementReference>
    <variables>
        <name>varAssetExplantDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssetProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssetSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComplaintID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComplaintRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComplaintRelationshipDrLetterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComplaintRelationshipRevisingPhysicianID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDateOfEvent</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDaysFromImplantToExplant</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varDrLetterAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDrLetterRecAcctContRelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDrLetterRecID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDrLetterRecName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDrLetterRecPhysicianAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDrLetterRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varEventDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEventReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantFacilityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingPhysicianAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingPhysicianAcctContRelationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantingPhysicianPhysicianAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExplantPhysicianID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMainBioContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOOSDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReportDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRevisingFacilityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRevisingPhysicianAcctContRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRevisingPhysicianID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRevisingPhysicianPhysicianAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRunningUserRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
